In [1]:
import numpy as np
import pandas as pd
from google.cloud import bigquery
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
import plotly.express as px

In [20]:
def campaign_mismatch():


    query = f"""
    CREATE TEMP TABLE config_temp (
            id INT64,
            lower_bound FLOAT64,
            upper_bound FLOAT64,
            discount_value NUMERIC,
            minimum_value NUMERIC
        );

        INSERT INTO config_temp (id, lower_bound, upper_bound, discount_value, minimum_value)
        VALUES
            (243, 0, 3.12, -6, 9),
            (243, 3.13, 6.24, -9, 9),
            (243, 6.25, 9.36, -10, 9),
            (243, 9.37, 12.48, -12, 9),
            (243, 12.49, 19.12, -13, 9),
            (243, 19.13, 22.24, -14, 9),
            (243, 22.25, 25.36, -15, 9),
            (243, 22.37, 32.00, -16, 9),
            (243, 32.01, 35.12, -18, 9),
            (243, 35.13, 44.48, -23, 9),
            (243, 44.49, 100, -30, 9),
            (244, 0, 3.12, -8, 7),
            (244, 3.13, 6.24, -11, 7),
            (244, 6.25, 9.36, -12, 7),
            (244, 9.37, 12.48, -14, 7),
            (244, 12.49, 19.12, -15, 7),
            (244, 19.13, 22.24, -16, 7),
            (244, 22.25, 25.36, -17, 7),
            (244, 22.37, 32.00, -18, 7),
            (244, 32.01, 35.12, -20, 7),
            (244, 35.13, 44.48, -25, 7),
            (244, 44.49, 100, -32, 7),
            (246, 0, 3.12, -14, 1),
            (246, 3.13, 6.24, -17, 1),
            (246, 6.25, 9.36, -18, 1),
            (246, 9.37, 12.48, -20, 1),
            (246, 12.49, 19.12, -21, 1),
            (246, 19.13, 22.24, -22, 1),
            (246, 22.25, 25.36, -23, 1),
            (246, 22.37, 32.00, -24, 1),
            (246, 32.01, 35.12, -26, 1),
            (246, 35.13, 44.48, -31, 1),
            (246, 44.49, 100, -38, 1);


        select entity_id
            ,count(distinct platform_order_code) total_orders
            ,count(distinct case when final_discount <> dps_basket_value_fee_local then platform_order_code end) mismatch_delivery
        from (
        SELECT
            o.entity_id
            ,o.platform_order_code
            ,o.vendor_id
            ,o.campaign_id
            ,o.campaign_type
            ,o.city_name
            ,o.delivery_fee_eur
            ,o.delivery_fee_local
            ,o.dps_delivery_fee_eur
            ,o.dps_delivery_fee_local
            ,o.currency_code
            ,o.customer_paid_local
            ,o.customer_paid_eur
            ,o.dps_basket_value_fee_local
            ,o.travel_time
            ,o.gmv_eur
            ,o.gmv_local
            ,o.gfv_local
            ,c.discount_value
            ,c.minimum_value
            ,(case when (delivery_fee_local + c.discount_value < c.minimum_value) then  (c.minimum_value - delivery_fee_local) else c.discount_value end) final_discount
        FROM
            `fulfillment-dwh-production.cl.dps_sessions_mapped_to_orders` o
        JOIN
            config_temp c
        ON
            o.campaign_id = c.id
            AND o.travel_time BETWEEN c.lower_bound AND c.upper_bound
        WHERE
            o.entity_id = 'HS_SA'
            AND created_date > '2023-08-01'
            AND o.campaign_id IN (243, 244, 246)
            AND is_own_delivery = TRUE
        )
        group by 1
    """
    
    return query



def campaign_mismatch():


    query = f"""
    CREATE TEMP TABLE config_temp (
            id INT64,
            lower_bound FLOAT64,
            upper_bound FLOAT64,
            discount_value NUMERIC,
            minimum_value NUMERIC
        );

        INSERT INTO config_temp (id, lower_bound, upper_bound, discount_value, minimum_value)
        VALUES
            (243, 0, 3.12, -6, 9),
            (243, 3.13, 6.24, -9, 9),
            (243, 6.25, 9.36, -10, 9),
            (243, 9.37, 12.48, -12, 9),
            (243, 12.49, 19.12, -13, 9),
            (243, 19.13, 22.24, -14, 9),
            (243, 22.25, 25.36, -15, 9),
            (243, 22.37, 32.00, -16, 9),
            (243, 32.01, 35.12, -18, 9),
            (243, 35.13, 44.48, -23, 9),
            (243, 44.49, 100, -30, 9),
            (244, 0, 3.12, -8, 7),
            (244, 3.13, 6.24, -11, 7),
            (244, 6.25, 9.36, -12, 7),
            (244, 9.37, 12.48, -14, 7),
            (244, 12.49, 19.12, -15, 7),
            (244, 19.13, 22.24, -16, 7),
            (244, 22.25, 25.36, -17, 7),
            (244, 22.37, 32.00, -18, 7),
            (244, 32.01, 35.12, -20, 7),
            (244, 35.13, 44.48, -25, 7),
            (244, 44.49, 100, -32, 7),
            (246, 0, 3.12, -14, 1),
            (246, 3.13, 6.24, -17, 1),
            (246, 6.25, 9.36, -18, 1),
            (246, 9.37, 12.48, -20, 1),
            (246, 12.49, 19.12, -21, 1),
            (246, 19.13, 22.24, -22, 1),
            (246, 22.25, 25.36, -23, 1),
            (246, 22.37, 32.00, -24, 1),
            (246, 32.01, 35.12, -26, 1),
            (246, 35.13, 44.48, -31, 1),
            (246, 44.49, 100, -38, 1);


        select entity_id
            ,count(distinct platform_order_code) total_orders
            ,count(distinct case when (final_discount <> dps_basket_value_fee_local) and (dps_basket_value_fee_next_threshold is null) then platform_order_code end) mismatch_delivery
        from (
        SELECT
            o.entity_id
            ,o.platform_order_code
            ,o.vendor_id
            ,o.campaign_id
            ,o.campaign_type
            ,o.city_name
            ,o.delivery_fee_eur
            ,o.delivery_fee_local
            ,o.dps_delivery_fee_eur
            ,o.dps_delivery_fee_local
            ,o.currency_code
            ,o.customer_paid_local
            ,o.customer_paid_eur
            ,o.dps_basket_value_fee_local
            ,o.travel_time
            ,o.gmv_eur
            ,o.gmv_local
            ,o.gfv_local
            ,c.discount_value
            ,c.minimum_value
            ,dps_basket_value_fee_threshold
            ,dps_basket_value_fee_next_threshold
            ,(case when (delivery_fee_local + c.discount_value < c.minimum_value) then  (c.minimum_value - delivery_fee_local) else c.discount_value end) final_discount
        FROM
            `fulfillment-dwh-production.cl.dps_sessions_mapped_to_orders` o
        JOIN
            config_temp c
        ON
            o.campaign_id = c.id
            AND o.travel_time BETWEEN c.lower_bound AND c.upper_bound
        WHERE
            o.entity_id = 'HS_SA'
            AND created_date > '2023-08-01'
            AND o.campaign_id IN (243, 244, 246)
            AND is_own_delivery = TRUE
        )
        group by 1
    """
    
    return query

In [21]:
# define a few things (project id, start date etc.)
project_id = "logistics-customer-staging"
client = bigquery.Client(project = project_id)

test = client.query(campaign_mismatch()).to_dataframe()

/Users/shazeb.asad/global_pricing/.venv/lib/python3.12/site-packages/google/auth/_default.py:76: UserWarning: Your application has authenticated using end user credentials from Google Cloud SDK without a quota project. You might receive a "quota exceeded" or "API not enabled" error. See the following page for troubleshooting: https://cloud.google.com/docs/authentication/adc-troubleshooting/user-creds.
  warnings.warn(_CLOUD_SDK_CREDENTIALS_WARNING)
/Users/shazeb.asad/global_pricing/.venv/lib/python3.12/site-packages/google/cloud/bigquery/table.py:1727: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

In [22]:
(test['mismatch_delivery'] / test['total_orders'] ) * 100

0    0.086823
dtype: Float64

In [24]:
test

  entity_id  total_orders  mismatch_delivery
0     HS_SA        433067                376