In [73]:
import numpy as np
import pandas as pd
from google.cloud import bigquery
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
import plotly.express as px


def orders_by_vendors():

    query = f"""
    select  region
       ,global_entity_id
       ,country_code
       ,country_name
       ,city
       ,date_trunc(partition_date_local,MONTH) month
       ,coalesce(chain_name, vendor_name) vendor
       ,count (distinct order_id) total_orders
from (
SELECT
  o.global_entity_id
  ,o.country_code
  ,c.country_name
  ,c.region
  ,o.partition_date_local
  ,o.delivery_location.city_english city
  ,o.order_id
  ,o.vendor_id
  ,items.name item_name
  ,items.quantity
  ,items.unit_price_eur
  ,v.name vendor_name
  ,v.chain.name chain_name
  ,payment.payment_method
FROM
  `fulfillment-dwh-production.curated_data_shared_coredata_business.orders` o , UNNEST(items) AS items
  left join  `fulfillment-dwh-production.cl._all_vendors` v on v.vendor_code = o.vendor_id and o.global_entity_id = v.entity_id 
  left join `fulfillment-dwh-production.curated_data_shared.countries`c on c.country_iso = o.country_code
  where partition_date_local between '2024-06-01' and '2024-06-30'
  --and o.global_entity_id = 'MJM_AT'
  and o.vertical_type = 'restaurants'
  --and o.order_id = 'j6es-2423-175e'
)
where city is not null
group by 1,2,3,4,5,6,7
order by global_entity_id,country_code,city, total_orders desc

    """

    return query


def top_n_vendors():
   
  query = f"""
   select  *
  from (
  SELECT
          c.region,
          o.global_entity_id,
          o.country_code,
          c.country_name,
          DATE_TRUNC(o.partition_date_local, MONTH) AS month,
          coalesce(v.chain.name, v.name) vendor,
          COUNT(DISTINCT o.order_id) AS total_orders,
          ROW_NUMBER() OVER (
              PARTITION BY c.region, o.global_entity_id, o.country_code, c.country_name
              ORDER BY COUNT(DISTINCT o.order_id) DESC
          ) AS rank
  FROM
    `fulfillment-dwh-production.curated_data_shared_coredata_business.orders` o , UNNEST(items) AS items
    left join  `fulfillment-dwh-production.cl._all_vendors` v on v.vendor_code = o.vendor_id and o.global_entity_id = v.entity_id 
    left join `fulfillment-dwh-production.curated_data_shared.countries`c on c.country_iso = o.country_code
    WHERE
          o.partition_date_local BETWEEN '2024-07-01' AND '2024-07-30'
          AND o.vertical_type = 'restaurants'
          AND o.delivery_location.city_english IS NOT NULL
      GROUP BY
          c.region,
          o.global_entity_id,
          o.country_code,
          c.country_name,
          MONTH,
          vendor
  )
  where rank <= 20
  order by region, country_name, total_orders desc,rank
  """

  return query


def top_n_items_city():
   
  query = f"""
    select  *
  from (
  SELECT
          c.region,
          o.global_entity_id,
          o.country_code,
          c.country_name,
          DATE_TRUNC(o.partition_date_local, MONTH) AS month,
          o.delivery_location.city_english AS city,
          items.name AS item_name,
          COUNT(DISTINCT o.order_id) AS total_orders,
          ROW_NUMBER() OVER (
              PARTITION BY c.region, o.global_entity_id, o.country_code, c.country_name, o.delivery_location.city_english
              ORDER BY COUNT(DISTINCT o.order_id) DESC
          ) AS rank
  FROM
    `fulfillment-dwh-production.curated_data_shared_coredata_business.orders` o , UNNEST(items) AS items
    left join  `fulfillment-dwh-production.cl._all_vendors` v on v.vendor_code = o.vendor_id and o.global_entity_id = v.entity_id 
    left join `fulfillment-dwh-production.curated_data_shared.countries`c on c.country_iso = o.country_code
    WHERE
          o.partition_date_local BETWEEN '2024-07-01' AND '2024-07-30'
          AND o.vertical_type = 'restaurants'
          AND o.delivery_location.city_english IS NOT NULL
      GROUP BY
          c.region,
          o.global_entity_id,
          o.country_code,
          c.country_name,
          DATE_TRUNC(o.partition_date_local, MONTH),
          city,
          item_name
  )
  where rank <= 20
  and total_orders > 500
  order by region, country_name, city, total_orders desc,rank

  """
   

  return query 



def top_n_items_country():
   
  query = f"""
   
  select  *
  from (
  SELECT
          c.region,
          o.global_entity_id,
          o.country_code,
          c.country_name,
          DATE_TRUNC(o.partition_date_local, MONTH) AS month,
          items.name AS item_name,
          COUNT(DISTINCT o.order_id) AS total_orders,
          ROW_NUMBER() OVER (
              PARTITION BY c.region, o.global_entity_id, o.country_code, c.country_name
              ORDER BY COUNT(DISTINCT o.order_id) DESC
          ) AS rank
  FROM
    `fulfillment-dwh-production.curated_data_shared_coredata_business.orders` o , UNNEST(items) AS items
    left join  `fulfillment-dwh-production.cl._all_vendors` v on v.vendor_code = o.vendor_id and o.global_entity_id = v.entity_id 
    left join `fulfillment-dwh-production.curated_data_shared.countries`c on c.country_iso = o.country_code
    WHERE
          o.partition_date_local BETWEEN '2024-07-01' AND '2024-07-30'
          AND o.vertical_type = 'restaurants'
          AND o.delivery_location.city_english IS NOT NULL
      GROUP BY
          c.region,
          o.global_entity_id,
          o.country_code,
          c.country_name,
          DATE_TRUNC(o.partition_date_local, MONTH),
          item_name
  )
  where rank <= 20
  and total_orders > 500
  order by region, country_name, total_orders desc,rank

  """
   
  return query


def display_vendors_country(df, region):

    lst = df[df['region'] == region]['country_name'].unique()

    for i in lst:
        display(df[df['country_name'] == i])

In [74]:
# define a few things (project id, start date etc.)
project_id = "logistics-customer-staging"
client = bigquery.Client(project = project_id)

#total_orders = client.query(orders_by_vendors()).to_dataframe()
top_vendors = client.query(top_n_vendors()).to_dataframe()

#top_items_city = client.query(items_n_items()).to_dataframe()
#top_items_country = client.query(top_n_items_country()).to_dataframe()

/Users/shazeb.asad/global_pricing/.venv/lib/python3.12/site-packages/google/auth/_default.py:76: UserWarning: Your application has authenticated using end user credentials from Google Cloud SDK without a quota project. You might receive a "quota exceeded" or "API not enabled" error. See the following page for troubleshooting: https://cloud.google.com/docs/authentication/adc-troubleshooting/user-creds.
  warnings.warn(_CLOUD_SDK_CREDENTIALS_WARNING)
/Users/shazeb.asad/global_pricing/.venv/lib/python3.12/site-packages/google/cloud/bigquery/table.py:1727: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

In [ ]:
pd.set_option("display.max_rows", None)

In [ ]:
orders_by_region['values_var'] / df.groupby('group_var')['values_var'].transform('sum')

In [81]:
orders_by_region = total_orders.groupby(['region','month']).agg({'total_orders' : 'sum'}).reset_index()
orders_by_region = orders_by_region.sort_values(by=['total_orders'], ascending=[False])
orders_by_region['percentage_of_total'] = (orders_by_region['total_orders'] /  orders_by_region['total_orders'].sum()) * 100
display(orders_by_region)

orders_by_country = total_orders.groupby(['region','global_entity_id','country_name','month']).agg({'total_orders' : 'sum'}).reset_index()
orders_by_country = orders_by_country.sort_values(by=['region','total_orders','country_name'], ascending=[False,False, True])
orders_by_country['percentage_of_region'] = (orders_by_country['total_orders'] / orders_by_country.groupby('region')['total_orders'].transform('sum')
) * 100
display(orders_by_country)

display_vendors_country(top_vendors, 'Europe')
display_vendors_country(top_vendors, 'Asia')
display_vendors_country(top_vendors, 'Americas')
display_vendors_country(top_vendors, 'MENA')

     region       month  total_orders  percentage_of_total
3      MENA  2024-06-01      54904115            47.560677
1      Asia  2024-06-01      29598612            25.639791
0  Americas  2024-06-01      18242227            15.802325
2    Europe  2024-06-01      12695191            10.997206

,region,global_entity_id,country_name,month,total_orders,percentage_of_region
34,MENA,HS_SA,Saudi Arabia,2024-06-01,12096382,22.031831
42,MENA,YS_TR,Turkey,2024-06-01,10306842,18.77244
35,MENA,TB_AE,United Arab Emirates,2024-06-01,9368079,17.062617
39,MENA,TB_KW,Kuwait,2024-06-01,7618115,13.875308
33,MENA,HF_EG,Egypt,2024-06-01,5326006,9.700559
41,MENA,TB_QA,Qatar,2024-06-01,2877654,5.241236
40,MENA,TB_OM,Oman,2024-06-01,2062792,3.757081
38,MENA,TB_JO,Jordan,2024-06-01,1962957,3.575246
36,MENA,TB_BH,Bahrain,2024-06-01,1799760,3.278006
37,MENA,TB_IQ,Iraq,2024-06-01,1485528,2.705677
27,Europe,EF_GR,Greece,2024-06-01,7860322,61.915744
30,Europe,NP_HU,Hungary,2024-06-01,1217930,9.593633
29,Europe,MJM_AT,Austria,2024-06-01,1041395,8.203067
26,Europe,DJ_CZ,Czech Republic,2024-06-01,980663,7.724681
31,Europe,OP_SE,Sweden,2024-06-01,651021,5.128091
28,Europe,FO_NO,Norway,2024-06-01,521427,4.10728
32,Europe,PO_FI,Finland,2024-06-01,422433,3.327504
25,Asia,FP_TW,Taiwan,2024-06-01,6706847,22.659329
21,Asia,FP_PH,Philippines,2024-06-01,6348770,21.449553
20,Asia,FP_MY,Malaysia,2024-06-01,5413150,18.288527
22,Asia,FP_PK,Pakistan,2024-06-01,4391924,14.838277
23,Asia,FP_SG,Singapore,2024-06-01,2007800,6.783426
15,Asia,FP_BD,Bangladesh,2024-06-01,1505284,5.085657
16,Asia,FP_HK,Hong Kong,2024-06-01,1191005,4.023854
24,Asia,FP_TH,Thailand,2024-06-01,1041717,3.519479
17,Asia,FP_KH,Cambodia,2024-06-01,494112,1.669376
19,Asia,FP_MM,Myanmar,2024-06-01,461814,1.560256
18,Asia,FP_LA,Laos,2024-06-01,36189,0.122266
1,Americas,PY_AR,Argentina,2024-06-01,6789309,37.217545
3,Americas,PY_CL,Chile,2024-06-01,2165731,11.872076
10,Americas,PY_PE,Peru,2024-06-01,1633149,8.952575
5,Americas,PY_DO,Dominican Republic,2024-06-01,1078536,5.912304
0,Americas,AP_PA,Panama,2024-06-01,963403,5.28117
6,Americas,PY_EC,Ecuador,2024-06-01,906739,4.97055
13,Americas,PY_UY,Uruguay,2024-06-01,838479,4.596363
12,Americas,PY_SV,El Salvador,2024-06-01,772456,4.234439
2,Americas,PY_BO,Bolivia,2024-06-01,743967,4.078269
7,Americas,PY_GT,Guatemala,2024-06-01,641425,3.516155
8,Americas,PY_HN,Honduras,2024-06-01,508404,2.786962
11,Americas,PY_PY,Paraguay,2024-06-01,446554,2.447914
9,Americas,PY_NI,Nicaragua,2024-06-01,437106,2.396122
4,Americas,PY_CR,Costa Rica,2024-06-01,203595,1.116064
14,Americas,PY_VE,Venezuela,2024-06-01,113374,0.621492

,region,global_entity_id,country_code,country_name,month,vendor,total_orders,rank
520,Europe,MJM_AT,AT,Austria,2024-07-01,McDonald's,148846,1
521,Europe,MJM_AT,AT,Austria,2024-07-01,Noodle King,31192,2
522,Europe,MJM_AT,AT,Austria,2024-07-01,Burger King,18414,3
523,Europe,MJM_AT,AT,Austria,2024-07-01,KFC,13822,4
524,Europe,MJM_AT,AT,Austria,2024-07-01,L'Osteria,11857,5
525,Europe,MJM_AT,AT,Austria,2024-07-01,Subway,10989,6
526,Europe,MJM_AT,AT,Austria,2024-07-01,Honu Tiki Bowl,10773,7
527,Europe,MJM_AT,AT,Austria,2024-07-01,Le Burger,10114,8
528,Europe,MJM_AT,AT,Austria,2024-07-01,Vapiano,9571,9
529,Europe,MJM_AT,AT,Austria,2024-07-01,Starbucks,8490,10
530,Europe,MJM_AT,AT,Austria,2024-07-01,Mamacita - California Burritos,7632,11
531,Europe,MJM_AT,AT,Austria,2024-07-01,Akakiko,6607,12
532,Europe,MJM_AT,AT,Austria,2024-07-01,Bio Frische,6553,13
533,Europe,MJM_AT,AT,Austria,2024-07-01,Domino's Pizza,6464,14
534,Europe,MJM_AT,AT,Austria,2024-07-01,Burgerista,6125,15
535,Europe,MJM_AT,AT,Austria,2024-07-01,Berliner Babo,4676,16
536,Europe,MJM_AT,AT,Austria,2024-07-01,Swing Kitchen,4322,17
537,Europe,MJM_AT,AT,Austria,2024-07-01,Dunkin' Donuts,3413,18
538,Europe,MJM_AT,AT,Austria,2024-07-01,Wiki Wiki Poke,3351,19
539,Europe,MJM_AT,AT,Austria,2024-07-01,Jackson's Fried Chicken,3333,20

,region,global_entity_id,country_code,country_name,month,vendor,total_orders,rank
540,Europe,DJ_CZ,CZ,Czech Republic,2024-07-01,McDonald's,124183,1
541,Europe,DJ_CZ,CZ,Czech Republic,2024-07-01,KFC Rozvoz,39633,2
542,Europe,DJ_CZ,CZ,Czech Republic,2024-07-01,Bageterie Boulevard,23374,3
543,Europe,DJ_CZ,CZ,Czech Republic,2024-07-01,Restaurace Globus,15071,4
544,Europe,DJ_CZ,CZ,Czech Republic,2024-07-01,Chachaři,14386,5
545,Europe,DJ_CZ,CZ,Czech Republic,2024-07-01,Turbo Pizza,11792,6
546,Europe,DJ_CZ,CZ,Czech Republic,2024-07-01,Burger King,8699,7
547,Europe,DJ_CZ,CZ,Czech Republic,2024-07-01,Rud's Pizza,8471,8
548,Europe,DJ_CZ,CZ,Czech Republic,2024-07-01,UGO Salaterie,7711,9
549,Europe,DJ_CZ,CZ,Czech Republic,2024-07-01,Los Capolitos,7177,10
550,Europe,DJ_CZ,CZ,Czech Republic,2024-07-01,Sal_Chain_MỘC - Pravá Vietnamská kuchyně,6143,11
551,Europe,DJ_CZ,CZ,Czech Republic,2024-07-01,Bouda Burgers,5134,12
552,Europe,DJ_CZ,CZ,Czech Republic,2024-07-01,Cartel Pizza,4901,13
553,Europe,DJ_CZ,CZ,Czech Republic,2024-07-01,Ararat,4754,14
554,Europe,DJ_CZ,CZ,Czech Republic,2024-07-01,AMICI,4238,15
555,Europe,DJ_CZ,CZ,Czech Republic,2024-07-01,Banyan Bistro,3988,16
556,Europe,DJ_CZ,CZ,Czech Republic,2024-07-01,New York,2993,17
557,Europe,DJ_CZ,CZ,Czech Republic,2024-07-01,Burger King - 08/24,2979,18
558,Europe,DJ_CZ,CZ,Czech Republic,2024-07-01,Pizza Hut,2870,19
559,Europe,DJ_CZ,CZ,Czech Republic,2024-07-01,Firovka,2870,20

,region,global_entity_id,country_code,country_name,month,vendor,total_orders,rank
560,Europe,PO_FI,FI,Finland,2024-07-01,Hesburger,89565,1
561,Europe,PO_FI,FI,Finland,2024-07-01,McDonald's,35877,2
562,Europe,PO_FI,FI,Finland,2024-07-01,Pizza hut,7344,3
563,Europe,PO_FI,FI,Finland,2024-07-01,Boneless,7325,4
564,Europe,PO_FI,FI,Finland,2024-07-01,Burger Company,6826,5
565,Europe,PO_FI,FI,Finland,2024-07-01,Kebab Keisarit Group,3977,6
566,Europe,PO_FI,FI,Finland,2024-07-01,Subway,2460,7
567,Europe,PO_FI,FI,Finland,2024-07-01,Dif döner,1649,8
568,Europe,PO_FI,FI,Finland,2024-07-01,Da Max,1598,9
569,Europe,PO_FI,FI,Finland,2024-07-01,Chicken Joint,1351,10
570,Europe,PO_FI,FI,Finland,2024-07-01,Rosa Pizzeria (Ent. La Dixi),1311,11
571,Europe,PO_FI,FI,Finland,2024-07-01,Wing It!,1305,12
572,Europe,PO_FI,FI,Finland,2024-07-01,Kappeliluhdan kebab pizzeria,1295,13
573,Europe,PO_FI,FI,Finland,2024-07-01,Luckiefun's,1271,14
574,Europe,PO_FI,FI,Finland,2024-07-01,Ravintola Deluxe,1249,15
575,Europe,PO_FI,FI,Finland,2024-07-01,Huuva,1206,16
576,Europe,PO_FI,FI,Finland,2024-07-01,Speakeasy,1175,17
577,Europe,PO_FI,FI,Finland,2024-07-01,06 Tori Kebab Pizzeria,1073,18
578,Europe,PO_FI,FI,Finland,2024-07-01,Pizzeria Santa Maria,1048,19
579,Europe,PO_FI,FI,Finland,2024-07-01,PizzaKebab14,1028,20

,region,global_entity_id,country_code,country_name,month,vendor,total_orders,rank
580,Europe,EF_GR,GR,Greece,2024-07-01,Pizza Fan,157052,1
581,Europe,EF_GR,GR,Greece,2024-07-01,Coffee Berry,146356,2
582,Europe,EF_GR,GR,Greece,2024-07-01,Il toto,120309,3
583,Europe,EF_GR,GR,Greece,2024-07-01,Goody`s Burger House,110840,4
584,Europe,EF_GR,GR,Greece,2024-07-01,Coffee Island,100139,5
585,Europe,EF_GR,GR,Greece,2024-07-01,Γρηγόρης,99156,6
586,Europe,EF_GR,GR,Greece,2024-07-01,McDonald’s,88430,7
587,Europe,EF_GR,GR,Greece,2024-07-01,KFC,70097,8
588,Europe,EF_GR,GR,Greece,2024-07-01,Coffee Lab,62297,9
589,Europe,EF_GR,GR,Greece,2024-07-01,Beat,47674,10
590,Europe,EF_GR,GR,Greece,2024-07-01,Domino`s Pizza,43656,11
591,Europe,EF_GR,GR,Greece,2024-07-01,Πιάτσα καλαμάκι,33671,12
592,Europe,EF_GR,GR,Greece,2024-07-01,Pizza l` artigiano,32206,13
593,Europe,EF_GR,GR,Greece,2024-07-01,everest,31571,14
594,Europe,EF_GR,GR,Greece,2024-07-01,Φούρνος Βενέτη,31270,15
595,Europe,EF_GR,GR,Greece,2024-07-01,Κουλουράδες,28300,16
596,Europe,EF_GR,GR,Greece,2024-07-01,Ο Πρόεδρος,27000,17
597,Europe,EF_GR,GR,Greece,2024-07-01,Cultivos coffee,26753,18
598,Europe,EF_GR,GR,Greece,2024-07-01,Shisan sushi bar,24744,19
599,Europe,EF_GR,GR,Greece,2024-07-01,Nine grams,24300,20

,region,global_entity_id,country_code,country_name,month,vendor,total_orders,rank
600,Europe,NP_HU,HU,Hungary,2024-07-01,McDonald's,211327,1
601,Europe,NP_HU,HU,Hungary,2024-07-01,Burger King,79291,2
602,Europe,NP_HU,HU,Hungary,2024-07-01,KFC,75923,3
603,Europe,NP_HU,HU,Hungary,2024-07-01,Don Pepe,59907,4
604,Europe,NP_HU,HU,Hungary,2024-07-01,Pesti Pipi,19449,5
605,Europe,NP_HU,HU,Hungary,2024-07-01,Pizza Hut,15897,6
606,Europe,NP_HU,HU,Hungary,2024-07-01,Bellozzo,14618,7
607,Europe,NP_HU,HU,Hungary,2024-07-01,padthai wokbar,11103,8
608,Europe,NP_HU,HU,Hungary,2024-07-01,Simon's Burger,9586,9
609,Europe,NP_HU,HU,Hungary,2024-07-01,Pizza King,8982,10
610,Europe,NP_HU,HU,Hungary,2024-07-01,Bamba Marha Burger Bár,7442,11
611,Europe,NP_HU,HU,Hungary,2024-07-01,Pasa Kebab,5302,12
612,Europe,NP_HU,HU,Hungary,2024-07-01,Buddha Original,4661,13
613,Europe,NP_HU,HU,Hungary,2024-07-01,Il Treno,4587,14
614,Europe,NP_HU,HU,Hungary,2024-07-01,Starbucks,4501,15
615,Europe,NP_HU,HU,Hungary,2024-07-01,Pizza Me,4494,16
616,Europe,NP_HU,HU,Hungary,2024-07-01,Trófea Grill Étterem,4363,17
617,Europe,NP_HU,HU,Hungary,2024-07-01,Expressz by il treno,4279,18
618,Europe,NP_HU,HU,Hungary,2024-07-01,Hanami Sushi,4222,19
619,Europe,NP_HU,HU,Hungary,2024-07-01,Wok n' GO,3805,20

,region,global_entity_id,country_code,country_name,month,vendor,total_orders,rank
620,Europe,FO_NO,NO,Norway,2024-07-01,McDonald's,49282,1
621,Europe,FO_NO,NO,Norway,2024-07-01,Burger King,34920,2
622,Europe,FO_NO,NO,Norway,2024-07-01,Bislett Kebab House,9769,3
623,Europe,FO_NO,NO,Norway,2024-07-01,Domino's,6200,4
624,Europe,FO_NO,NO,Norway,2024-07-01,Fly Chicken,6163,5
625,Europe,FO_NO,NO,Norway,2024-07-01,Joe & The Juice,5794,6
626,Europe,FO_NO,NO,Norway,2024-07-01,Digg,5625,7
627,Europe,FO_NO,NO,Norway,2024-07-01,Subway,4983,8
628,Europe,FO_NO,NO,Norway,2024-07-01,Egon,4553,9
629,Europe,FO_NO,NO,Norway,2024-07-01,Troys Burger,4483,10
630,Europe,FO_NO,NO,Norway,2024-07-01,Flamme Burger,3760,11
631,Europe,FO_NO,NO,Norway,2024-07-01,Max,3477,12
632,Europe,FO_NO,NO,Norway,2024-07-01,Los Tacos,3460,13
633,Europe,FO_NO,NO,Norway,2024-07-01,Espresso House,3405,14
634,Europe,FO_NO,NO,Norway,2024-07-01,Sabrura,3277,15
635,Europe,FO_NO,NO,Norway,2024-07-01,Sumo,3133,16
636,Europe,FO_NO,NO,Norway,2024-07-01,Hekkan Burger,2934,17
637,Europe,FO_NO,NO,Norway,2024-07-01,Jønk,2927,18
638,Europe,FO_NO,NO,Norway,2024-07-01,Big Bite,2643,19
639,Europe,FO_NO,NO,Norway,2024-07-01,Sabi Sushi,2302,20

,region,global_entity_id,country_code,country_name,month,vendor,total_orders,rank
640,Europe,OP_SE,SE,Sweden,2024-07-01,McDonald's,48794,1
641,Europe,OP_SE,SE,Sweden,2024-07-01,Max Hamburgare,30896,2
642,Europe,OP_SE,SE,Sweden,2024-07-01,Burger King,19950,3
643,Europe,OP_SE,SE,Sweden,2024-07-01,Subway,10901,4
644,Europe,OP_SE,SE,Sweden,2024-07-01,Brödernas,8846,5
645,Europe,OP_SE,SE,Sweden,2024-07-01,Bastard Burgers,8019,6
646,Europe,OP_SE,SE,Sweden,2024-07-01,Sushi Yama,5308,7
647,Europe,OP_SE,SE,Sweden,2024-07-01,Babas Burger,4412,8
648,Europe,OP_SE,SE,Sweden,2024-07-01,Wing It!,3608,9
649,Europe,OP_SE,SE,Sweden,2024-07-01,Espresso House,3457,10
650,Europe,OP_SE,SE,Sweden,2024-07-01,Pizza Hut,2998,11
651,Europe,OP_SE,SE,Sweden,2024-07-01,Sibylla (New Chain Group),2773,12
652,Europe,OP_SE,SE,Sweden,2024-07-01,KFC,2571,13
653,Europe,OP_SE,SE,Sweden,2024-07-01,Mr Bun,2510,14
654,Europe,OP_SE,SE,Sweden,2024-07-01,Lulu restaurants,2111,15
655,Europe,OP_SE,SE,Sweden,2024-07-01,Domino's,2024,16
656,Europe,OP_SE,SE,Sweden,2024-07-01,Grekiska Grill & Bar,1847,17
657,Europe,OP_SE,SE,Sweden,2024-07-01,Taco Bar,1688,18
658,Europe,OP_SE,SE,Sweden,2024-07-01,Mae Thai Express,1670,19
659,Europe,OP_SE,SE,Sweden,2024-07-01,I Love Pizza,1647,20

,region,global_entity_id,country_code,country_name,month,vendor,total_orders,rank
300,Asia,FP_BD,BD,Bangladesh,2024-07-01,Best Fried Chicken (BFC),41166,1
301,Asia,FP_BD,BD,Bangladesh,2024-07-01,KFC,26534,2
302,Asia,FP_BD,BD,Bangladesh,2024-07-01,Kacchi Bhai,24793,3
303,Asia,FP_BD,BD,Bangladesh,2024-07-01,Burger xpress,24521,4
304,Asia,FP_BD,BD,Bangladesh,2024-07-01,Pizza Burg,18344,5
305,Asia,FP_BD,BD,Bangladesh,2024-07-01,Sultan's Dine,18007,6
306,Asia,FP_BD,BD,Bangladesh,2024-07-01,Tasty Treat - Dhaka,17038,7
307,Asia,FP_BD,BD,Bangladesh,2024-07-01,Domino's Pizza,16583,8
308,Asia,FP_BD,BD,Bangladesh,2024-07-01,Takeout,15214,9
309,Asia,FP_BD,BD,Bangladesh,2024-07-01,Star Kebab - Banani,11837,10
310,Asia,FP_BD,BD,Bangladesh,2024-07-01,Herfy,11085,11
311,Asia,FP_BD,BD,Bangladesh,2024-07-01,Tehari Ghar,9666,12
312,Asia,FP_BD,BD,Bangladesh,2024-07-01,Madchef,9166,13
313,Asia,FP_BD,BD,Bangladesh,2024-07-01,Fry Bucket,9058,14
314,Asia,FP_BD,BD,Bangladesh,2024-07-01,Shumi's Hot Cake,8492,15
315,Asia,FP_BD,BD,Bangladesh,2024-07-01,Waffle Up,8129,16
316,Asia,FP_BD,BD,Bangladesh,2024-07-01,Kudos,8065,17
317,Asia,FP_BD,BD,Bangladesh,2024-07-01,Cooper's,7880,18
318,Asia,FP_BD,BD,Bangladesh,2024-07-01,North End Coffee,6841,19
319,Asia,FP_BD,BD,Bangladesh,2024-07-01,Cheez,6614,20

,region,global_entity_id,country_code,country_name,month,vendor,total_orders,rank
320,Asia,FP_KH,KH,Cambodia,2024-07-01,Café Amazon,44429,1
321,Asia,FP_KH,KH,Cambodia,2024-07-01,TUBE COFFEE,29259,2
322,Asia,FP_KH,KH,Cambodia,2024-07-01,KOI Thé,21988,3
323,Asia,FP_KH,KH,Cambodia,2024-07-01,Pasta Corner (Calmette),14697,4
324,Asia,FP_KH,KH,Cambodia,2024-07-01,Coffee Plus (COCO),10332,5
325,Asia,FP_KH,KH,Cambodia,2024-07-01,The Pizza Company,8553,6
326,Asia,FP_KH,KH,Cambodia,2024-07-01,Café WinWin Depo,7925,7
327,Asia,FP_KH,KH,Cambodia,2024-07-01,KFC,6726,8
328,Asia,FP_KH,KH,Cambodia,2024-07-01,Starbucks,6710,9
329,Asia,FP_KH,KH,Cambodia,2024-07-01,Lucky Burger (Master Menu),6120,10
330,Asia,FP_KH,KH,Cambodia,2024-07-01,Coffee Plus (RORO),5916,11
331,Asia,FP_KH,KH,Cambodia,2024-07-01,Brown Roastery,4404,12
332,Asia,FP_KH,KH,Cambodia,2024-07-01,Burger King,3617,13
333,Asia,FP_KH,KH,Cambodia,2024-07-01,Domino's Pizza,3432,14
334,Asia,FP_KH,KH,Cambodia,2024-07-01,Brown Classic,3098,15
335,Asia,FP_KH,KH,Cambodia,2024-07-01,QUEEN BEE,2864,16
336,Asia,FP_KH,KH,Cambodia,2024-07-01,Tea Three,2760,17
337,Asia,FP_KH,KH,Cambodia,2024-07-01,13th May,2699,18
338,Asia,FP_KH,KH,Cambodia,2024-07-01,បាយស្លឹកចេក,2595,19
339,Asia,FP_KH,KH,Cambodia,2024-07-01,Nompang Pate Neak Purn Chen Kmav (Wat Koh),2463,20

,region,global_entity_id,country_code,country_name,month,vendor,total_orders,rank
340,Asia,FP_HK,HK,Hong Kong,2024-07-01,TamJai SamGor Mixian,45871,1
341,Asia,FP_HK,HK,Hong Kong,2024-07-01,McDonald's & McCafe,27652,2
342,Asia,FP_HK,HK,Hong Kong,2024-07-01,Café 100,26177,3
343,Asia,FP_HK,HK,Hong Kong,2024-07-01,Starbucks Coffee,24823,4
344,Asia,FP_HK,HK,Hong Kong,2024-07-01,McDonald's,24237,5
345,Asia,FP_HK,HK,Hong Kong,2024-07-01,Milk Cafe,21836,6
346,Asia,FP_HK,HK,Hong Kong,2024-07-01,Itamomo,21434,7
347,Asia,FP_HK,HK,Hong Kong,2024-07-01,Pizza Hut,14725,8
348,Asia,FP_HK,HK,Hong Kong,2024-07-01,Fairwood,13411,9
349,Asia,FP_HK,HK,Hong Kong,2024-07-01,Chicken Factory,13242,10
350,Asia,FP_HK,HK,Hong Kong,2024-07-01,Handmade Kung Fu Tea,11779,11
351,Asia,FP_HK,HK,Hong Kong,2024-07-01,KFC,11759,12
352,Asia,FP_HK,HK,Hong Kong,2024-07-01,Red Tea,10257,13
353,Asia,FP_HK,HK,Hong Kong,2024-07-01,Café de Coral,8936,14
354,Asia,FP_HK,HK,Hong Kong,2024-07-01,Twelve Flavors,8232,15
355,Asia,FP_HK,HK,Hong Kong,2024-07-01,Tai Hing,7846,16
356,Asia,FP_HK,HK,Hong Kong,2024-07-01,Satay King,7716,17
357,Asia,FP_HK,HK,Hong Kong,2024-07-01,Praise House Congee & Noodle Cuisine,7641,18
358,Asia,FP_HK,HK,Hong Kong,2024-07-01,Super Super Congee & Noodles,7530,19
359,Asia,FP_HK,HK,Hong Kong,2024-07-01,Men Wah Bing Teng,7309,20

,region,global_entity_id,country_code,country_name,month,vendor,total_orders,rank
360,Asia,FP_LA,LA,Laos,2024-07-01,Bingchun Tea,1565,1
361,Asia,FP_LA,LA,Laos,2024-07-01,Mixue Ice Cream & Tea ສາຂາ ແຄມຂອງ,746,2
362,Asia,FP_LA,LA,Laos,2024-07-01,ຮ້ານ ເຂົ້າປຽກເຈ້ໄຂ່ມຸກໝາກເຜັດຂຽບໝູ (ສາຂາ ຊໍາເກດ),663,3
363,Asia,FP_LA,LA,Laos,2024-07-01,Joma Bakery Cafe,574,4
364,Asia,FP_LA,LA,Laos,2024-07-01,Lotteria,560,5
365,Asia,FP_LA,LA,Laos,2024-07-01,Café Amazon (ຮ່ອງແກ),511,6
366,Asia,FP_LA,LA,Laos,2024-07-01,Cafe Amazon,450,7
367,Asia,FP_LA,LA,Laos,2024-07-01,Tota Bakery and Restaurant,402,8
368,Asia,FP_LA,LA,Laos,2024-07-01,The Pizza Company,355,9
369,Asia,FP_LA,LA,Laos,2024-07-01,ຮ້ານເຂົ້າມັນໄກ່ນາສຳພັນ,300,10
370,Asia,FP_LA,LA,Laos,2024-07-01,YKJ Burger Pizza Chicken (Sihom),297,11
371,Asia,FP_LA,LA,Laos,2024-07-01,BKL,280,12
372,Asia,FP_LA,LA,Laos,2024-07-01,Momizu House,263,13
373,Asia,FP_LA,LA,Laos,2024-07-01,ຮ້ານ ຄົວຢາຍອ້ວນ (BNT Restaurant),251,14
374,Asia,FP_LA,LA,Laos,2024-07-01,Siam Kebab Cheese,245,15
375,Asia,FP_LA,LA,Laos,2024-07-01,ເຂົ້າມັນໄກ່103,243,16
376,Asia,FP_LA,LA,Laos,2024-07-01,Starbucks coffee (Parkson),235,17
377,Asia,FP_LA,LA,Laos,2024-07-01,Kan Eng Restaurant (Sisavath),228,18
378,Asia,FP_LA,LA,Laos,2024-07-01,ຮ້ານ ເຂົ້າປຽກເຈ້ໄຂ່ມຸກໝາກເຜັດຂຽບໝູ ສາຂາວັດໄຕ,219,19
379,Asia,FP_LA,LA,Laos,2024-07-01,Lor Ka Ling,206,20

,region,global_entity_id,country_code,country_name,month,vendor,total_orders,rank
380,Asia,FP_MY,MY,Malaysia,2024-07-01,KFC,275759,1
381,Asia,FP_MY,MY,Malaysia,2024-07-01,McDonald's,244133,2
382,Asia,FP_MY,MY,Malaysia,2024-07-01,Tealive,146406,3
383,Asia,FP_MY,MY,Malaysia,2024-07-01,Marrybrown,131983,4
384,Asia,FP_MY,MY,Malaysia,2024-07-01,Pizza Hut,87333,5
385,Asia,FP_MY,MY,Malaysia,2024-07-01,Texas Chicken,72845,6
386,Asia,FP_MY,MY,Malaysia,2024-07-01,ZUS Coffee,64695,7
387,Asia,FP_MY,MY,Malaysia,2024-07-01,CHAGEE,61062,8
388,Asia,FP_MY,MY,Malaysia,2024-07-01,Domino's Pizza,58451,9
389,Asia,FP_MY,MY,Malaysia,2024-07-01,Subway,52770,10
390,Asia,FP_MY,MY,Malaysia,2024-07-01,FamilyMart - Famima,45633,11
391,Asia,FP_MY,MY,Malaysia,2024-07-01,MIXUE,42620,12
392,Asia,FP_MY,MY,Malaysia,2024-07-01,Bask Bear Coffee,40533,13
393,Asia,FP_MY,MY,Malaysia,2024-07-01,A&W,34934,14
394,Asia,FP_MY,MY,Malaysia,2024-07-01,The Chicken Rice Shop,34750,15
395,Asia,FP_MY,MY,Malaysia,2024-07-01,Burger King,31350,16
396,Asia,FP_MY,MY,Malaysia,2024-07-01,Uncle Bob,30265,17
397,Asia,FP_MY,MY,Malaysia,2024-07-01,Ayam Gepuk Pak Gembus,27646,18
398,Asia,FP_MY,MY,Malaysia,2024-07-01,Richeese Factory,23040,19
399,Asia,FP_MY,MY,Malaysia,2024-07-01,Restoran Ayam Gepuk Top Global,22827,20

,region,global_entity_id,country_code,country_name,month,vendor,total_orders,rank
400,Asia,FP_MM,MM,Myanmar,2024-07-01,KFC,33355,1
401,Asia,FP_MM,MM,Myanmar,2024-07-01,YKKO,23277,2
402,Asia,FP_MM,MM,Myanmar,2024-07-01,King Lashio,18907,3
403,Asia,FP_MM,MM,Myanmar,2024-07-01,Seasons Bakery Yangon,11610,4
404,Asia,FP_MM,MM,Myanmar,2024-07-01,Omuk Restaurant,9299,5
405,Asia,FP_MM,MM,Myanmar,2024-07-01,J'DONUTS,8428,6
406,Asia,FP_MM,MM,Myanmar,2024-07-01,Parisian Cake & Coffee,7923,7
407,Asia,FP_MM,MM,Myanmar,2024-07-01,Marrybrown new,6050,8
408,Asia,FP_MM,MM,Myanmar,2024-07-01,Breadtalk,5991,9
409,Asia,FP_MM,MM,Myanmar,2024-07-01,Ya kun,5534,10
410,Asia,FP_MM,MM,Myanmar,2024-07-01,ocha,5434,11
411,Asia,FP_MM,MM,Myanmar,2024-07-01,Pizza Hut Restaurants,5150,12
412,Asia,FP_MM,MM,Myanmar,2024-07-01,SP Bakery,5114,13
413,Asia,FP_MM,MM,Myanmar,2024-07-01,AKKHAYA Tea House,4632,14
414,Asia,FP_MM,MM,Myanmar,2024-07-01,Fu Fu Hotpot & Mala Xiang Guo,4613,15
415,Asia,FP_MM,MM,Myanmar,2024-07-01,TeaLive,4296,16
416,Asia,FP_MM,MM,Myanmar,2024-07-01,Min Lan,4217,17
417,Asia,FP_MM,MM,Myanmar,2024-07-01,ရွှေထူး‌ စားတော်ဆက်-Halal,3958,18
418,Asia,FP_MM,MM,Myanmar,2024-07-01,Gong Cha,3684,19
419,Asia,FP_MM,MM,Myanmar,2024-07-01,Bonchon,3668,20

,region,global_entity_id,country_code,country_name,month,vendor,total_orders,rank
420,Asia,FP_PK,PK,Pakistan,2024-07-01,KFC,391305,1
421,Asia,FP_PK,PK,Pakistan,2024-07-01,Mcdonald's - Integrated,123257,2
422,Asia,FP_PK,PK,Pakistan,2024-07-01,Domino's Pizza,120624,3
423,Asia,FP_PK,PK,Pakistan,2024-07-01,Kababjees Fried Chicken,102222,4
424,Asia,FP_PK,PK,Pakistan,2024-07-01,OPTP,98300,5
425,Asia,FP_PK,PK,Pakistan,2024-07-01,Sweet Creme,74092,6
426,Asia,FP_PK,PK,Pakistan,2024-07-01,Broadway Pizza,67051,7
427,Asia,FP_PK,PK,Pakistan,2024-07-01,Kababjees Fried Chicken - Kitchens,50208,8
428,Asia,FP_PK,PK,Pakistan,2024-07-01,Kababjees Bakers,46723,9
429,Asia,FP_PK,PK,Pakistan,2024-07-01,Jalal Sons,44719,10
430,Asia,FP_PK,PK,Pakistan,2024-07-01,Savour Foods,38319,11
431,Asia,FP_PK,PK,Pakistan,2024-07-01,Johnny & Jugnu,37474,12
432,Asia,FP_PK,PK,Pakistan,2024-07-01,Kababjees Express,35141,13
433,Asia,FP_PK,PK,Pakistan,2024-07-01,Subway Central,35053,14
434,Asia,FP_PK,PK,Pakistan,2024-07-01,California Pizza,30544,15
435,Asia,FP_PK,PK,Pakistan,2024-07-01,Layers Bakeshop,30150,16
436,Asia,FP_PK,PK,Pakistan,2024-07-01,Papa Johns,29068,17
437,Asia,FP_PK,PK,Pakistan,2024-07-01,Subway - South,28779,18
438,Asia,FP_PK,PK,Pakistan,2024-07-01,Pizza Max,28521,19
439,Asia,FP_PK,PK,Pakistan,2024-07-01,What A Paratha,25923,20

,region,global_entity_id,country_code,country_name,month,vendor,total_orders,rank
440,Asia,FP_PH,PH,Philippines,2024-07-01,Jollibee,1292462,1
441,Asia,FP_PH,PH,Philippines,2024-07-01,McDonald's,1116734,2
442,Asia,FP_PH,PH,Philippines,2024-07-01,Chowking,343142,3
443,Asia,FP_PH,PH,Philippines,2024-07-01,KFC,273436,4
444,Asia,FP_PH,PH,Philippines,2024-07-01,Mang Inasal,235060,5
445,Asia,FP_PH,PH,Philippines,2024-07-01,Greenwich,100425,6
446,Asia,FP_PH,PH,Philippines,2024-07-01,Burger King,76118,7
447,Asia,FP_PH,PH,Philippines,2024-07-01,24 Chicken,74269,8
448,Asia,FP_PH,PH,Philippines,2024-07-01,CoCo Fresh Tea and Juice,55998,9
449,Asia,FP_PH,PH,Philippines,2024-07-01,BonChon,55451,10
450,Asia,FP_PH,PH,Philippines,2024-07-01,Potato Corner,53298,11
451,Asia,FP_PH,PH,Philippines,2024-07-01,Starbucks,49091,12
452,Asia,FP_PH,PH,Philippines,2024-07-01,Red Ribbon,46393,13
453,Asia,FP_PH,PH,Philippines,2024-07-01,S&R New York Style Pizza,42604,14
454,Asia,FP_PH,PH,Philippines,2024-07-01,Wendy's,41914,15
455,Asia,FP_PH,PH,Philippines,2024-07-01,Popeyes,41002,16
456,Asia,FP_PH,PH,Philippines,2024-07-01,Alberto's Pizza,40177,17
457,Asia,FP_PH,PH,Philippines,2024-07-01,Pizza Hut,39084,18
458,Asia,FP_PH,PH,Philippines,2024-07-01,PICKUP Coffee,38321,19
459,Asia,FP_PH,PH,Philippines,2024-07-01,Chooks to Go,37181,20

,region,global_entity_id,country_code,country_name,month,vendor,total_orders,rank
460,Asia,FP_SG,SG,Singapore,2024-07-01,McDonald's,152596,1
461,Asia,FP_SG,SG,Singapore,2024-07-01,KFC,41545,2
462,Asia,FP_SG,SG,Singapore,2024-07-01,Jollibee,35679,3
463,Asia,FP_SG,SG,Singapore,2024-07-01,Burger King,35214,4
464,Asia,FP_SG,SG,Singapore,2024-07-01,Wingstop,32869,5
465,Asia,FP_SG,SG,Singapore,2024-07-01,Subway,27940,6
466,Asia,FP_SG,SG,Singapore,2024-07-01,4Fingers,25009,7
467,Asia,FP_SG,SG,Singapore,2024-07-01,Long John Silver's,23542,8
468,Asia,FP_SG,SG,Singapore,2024-07-01,Pizza Hut,22677,9
469,Asia,FP_SG,SG,Singapore,2024-07-01,KOI Thé,20133,10
470,Asia,FP_SG,SG,Singapore,2024-07-01,Toast Box,19976,11
471,Asia,FP_SG,SG,Singapore,2024-07-01,Stuff'd,16995,12
472,Asia,FP_SG,SG,Singapore,2024-07-01,Wok Hey,15943,13
473,Asia,FP_SG,SG,Singapore,2024-07-01,Starbucks,15308,14
474,Asia,FP_SG,SG,Singapore,2024-07-01,I Love Taimei,14821,15
475,Asia,FP_SG,SG,Singapore,2024-07-01,Takagi Ramen,13069,16
476,Asia,FP_SG,SG,Singapore,2024-07-01,The Soup Spoon Union,12875,17
477,Asia,FP_SG,SG,Singapore,2024-07-01,Ayam Penyet President,12751,18
478,Asia,FP_SG,SG,Singapore,2024-07-01,Pastamania,12186,19
479,Asia,FP_SG,SG,Singapore,2024-07-01,Guzman Y Gomez,11560,20

,region,global_entity_id,country_code,country_name,month,vendor,total_orders,rank
480,Asia,FP_TW,TW,Taiwan,2024-07-01,McDonald's 麥當勞,350678,1
481,Asia,FP_TW,TW,Taiwan,2024-07-01,八方雲集,106762,2
482,Asia,FP_TW,TW,Taiwan,2024-07-01,星巴克,106163,3
483,Asia,FP_TW,TW,Taiwan,2024-07-01,麥味登,84869,4
484,Asia,FP_TW,TW,Taiwan,2024-07-01,清心福全,74112,5
485,Asia,FP_TW,TW,Taiwan,2024-07-01,50嵐,56564,6
486,Asia,FP_TW,TW,Taiwan,2024-07-01,胖老爹,50803,7
487,Asia,FP_TW,TW,Taiwan,2024-07-01,漢堡王,49571,8
488,Asia,FP_TW,TW,Taiwan,2024-07-01,摩斯漢堡,46471,9
489,Asia,FP_TW,TW,Taiwan,2024-07-01,拉亞漢堡,45400,10
490,Asia,FP_TW,TW,Taiwan,2024-07-01,弘爺漢堡,45056,11
491,Asia,FP_TW,TW,Taiwan,2024-07-01,肯德基,44813,12
492,Asia,FP_TW,TW,Taiwan,2024-07-01,可不可熟成紅茶,43990,13
493,Asia,FP_TW,TW,Taiwan,2024-07-01,CoCo,41360,14
494,Asia,FP_TW,TW,Taiwan,2024-07-01,必勝客,39728,15
495,Asia,FP_TW,TW,Taiwan,2024-07-01,晨間廚房,39242,16
496,Asia,FP_TW,TW,Taiwan,2024-07-01,早安美芝城,36109,17
497,Asia,FP_TW,TW,Taiwan,2024-07-01,Sukiya,30523,18
498,Asia,FP_TW,TW,Taiwan,2024-07-01,麻古茶坊,29387,19
499,Asia,FP_TW,TW,Taiwan,2024-07-01,三媽臭臭鍋,29355,20

,region,global_entity_id,country_code,country_name,month,vendor,total_orders,rank
500,Asia,FP_TH,TH,Thailand,2024-07-01,KFC,52176,1
501,Asia,FP_TH,TH,Thailand,2024-07-01,McDonald's,42086,2
502,Asia,FP_TH,TH,Thailand,2024-07-01,Cafe Amazon (Franchisee only),25021,3
503,Asia,FP_TH,TH,Thailand,2024-07-01,The Pizza Company,12694,4
504,Asia,FP_TH,TH,Thailand,2024-07-01,Burger King,11990,5
505,Asia,FP_TH,TH,Thailand,2024-07-01,Starbucks,8618,6
506,Asia,FP_TH,TH,Thailand,2024-07-01,Pizza Hut,7659,7
507,Asia,FP_TH,TH,Thailand,2024-07-01,Cafe Amazon (RM only),6483,8
508,Asia,FP_TH,TH,Thailand,2024-07-01,Chester's,6254,9
509,Asia,FP_TH,TH,Thailand,2024-07-01,Subway,6099,10
510,Asia,FP_TH,TH,Thailand,2024-07-01,Shinkanzen Sushi,5215,11
511,Asia,FP_TH,TH,Thailand,2024-07-01,Dairy Queen,4905,12
512,Asia,FP_TH,TH,Thailand,2024-07-01,BONCHON CHICKEN,4892,13
513,Asia,FP_TH,TH,Thailand,2024-07-01,Taco Bell,4647,14
514,Asia,FP_TH,TH,Thailand,2024-07-01,MK Restaurant,4612,15
515,Asia,FP_TH,TH,Thailand,2024-07-01,Texas Chicken,4542,16
516,Asia,FP_TH,TH,Thailand,2024-07-01,Pun Thai Coffee,4386,17
517,Asia,FP_TH,TH,Thailand,2024-07-01,Swensen's,4033,18
518,Asia,FP_TH,TH,Thailand,2024-07-01,Prime Burger,3691,19
519,Asia,FP_TH,TH,Thailand,2024-07-01,Domino's Pizza,3619,20

,region,global_entity_id,country_code,country_name,month,vendor,total_orders,rank
0,Americas,PY_AR,AR,Argentina,2024-07-01,McDonald's,559950,1
1,Americas,PY_AR,AR,Argentina,2024-07-01,Mostaza,476386,2
2,Americas,PY_AR,AR,Argentina,2024-07-01,Grido,252908,3
3,Americas,PY_AR,AR,Argentina,2024-07-01,Burger King,234736,4
4,Americas,PY_AR,AR,Argentina,2024-07-01,KFC,82102,5
5,Americas,PY_AR,AR,Argentina,2024-07-01,Sabores Express,79702,6
6,Americas,PY_AR,AR,Argentina,2024-07-01,El Club de la Milanesa,64183,7
7,Americas,PY_AR,AR,Argentina,2024-07-01,Rapanui,58190,8
8,Americas,PY_AR,AR,Argentina,2024-07-01,Lucciano's,54318,9
9,Americas,PY_AR,AR,Argentina,2024-07-01,Mi Gusto,48295,10
10,Americas,PY_AR,AR,Argentina,2024-07-01,Cremolatti,44879,11
11,Americas,PY_AR,AR,Argentina,2024-07-01,Hamburguesas Extremas,44735,12
12,Americas,PY_AR,AR,Argentina,2024-07-01,Sushi Pop,33893,13
13,Americas,PY_AR,AR,Argentina,2024-07-01,Fabric Sushi,33858,14
14,Americas,PY_AR,AR,Argentina,2024-07-01,Helados Daniel,31579,15
15,Americas,PY_AR,AR,Argentina,2024-07-01,El Desembarco,30370,16
16,Americas,PY_AR,AR,Argentina,2024-07-01,Big Pons,28765,17
17,Americas,PY_AR,AR,Argentina,2024-07-01,Subway,28591,18
18,Americas,PY_AR,AR,Argentina,2024-07-01,Nicolo Helados,28387,19
19,Americas,PY_AR,AR,Argentina,2024-07-01,Solo Empanadas,27496,20

,region,global_entity_id,country_code,country_name,month,vendor,total_orders,rank
20,Americas,PY_BO,BO,Bolivia,2024-07-01,Pizza Río,55109,1
21,Americas,PY_BO,BO,Bolivia,2024-07-01,Burger King,30948,2
22,Americas,PY_BO,BO,Bolivia,2024-07-01,Hot Burger,28725,3
23,Americas,PY_BO,BO,Bolivia,2024-07-01,Santa Maria Fast Food,25615,4
24,Americas,PY_BO,BO,Bolivia,2024-07-01,Pollos Copacabana,25388,5
25,Americas,PY_BO,BO,Bolivia,2024-07-01,Pollos Kiky,25103,6
26,Americas,PY_BO,BO,Bolivia,2024-07-01,Pollos Campeón,16972,7
27,Americas,PY_BO,BO,Bolivia,2024-07-01,Hamburguesas Toby,15285,8
28,Americas,PY_BO,BO,Bolivia,2024-07-01,Pollos Cochabamba,14284,9
29,Americas,PY_BO,BO,Bolivia,2024-07-01,Pollos El Solar,13677,10
30,Americas,PY_BO,BO,Bolivia,2024-07-01,Pollos Chuy,10232,11
31,Americas,PY_BO,BO,Bolivia,2024-07-01,Pollos Sacura,7944,12
32,Americas,PY_BO,BO,Bolivia,2024-07-01,Texas Wings & More,6156,13
33,Americas,PY_BO,BO,Bolivia,2024-07-01,El jardín de los Pollos,5882,14
34,Americas,PY_BO,BO,Bolivia,2024-07-01,Mega Burguer,5842,15
35,Americas,PY_BO,BO,Bolivia,2024-07-01,Subway,5776,16
36,Americas,PY_BO,BO,Bolivia,2024-07-01,Vikingo Comida Rapida,5115,17
37,Americas,PY_BO,BO,Bolivia,2024-07-01,Tropical Chicken,4977,18
38,Americas,PY_BO,BO,Bolivia,2024-07-01,Wrap & Roll,4391,19
39,Americas,PY_BO,BO,Bolivia,2024-07-01,KFC,4077,20

,region,global_entity_id,country_code,country_name,month,vendor,total_orders,rank
40,Americas,PY_CL,CL,Chile,2024-07-01,McDonald's,179410,1
41,Americas,PY_CL,CL,Chile,2024-07-01,KFC,118535,2
42,Americas,PY_CL,CL,Chile,2024-07-01,Papa John's,79373,3
43,Americas,PY_CL,CL,Chile,2024-07-01,Burger King,63998,4
44,Americas,PY_CL,CL,Chile,2024-07-01,Tarragona,38707,5
45,Americas,PY_CL,CL,Chile,2024-07-01,Melt Pizzas,37069,6
46,Americas,PY_CL,CL,Chile,2024-07-01,Local hero CL,36988,7
47,Americas,PY_CL,CL,Chile,2024-07-01,Subway,34299,8
48,Americas,PY_CL,CL,Chile,2024-07-01,Telepizza,31004,9
49,Americas,PY_CL,CL,Chile,2024-07-01,Poked LATAM,30128,10
50,Americas,PY_CL,CL,Chile,2024-07-01,Little Caesar's,28684,11
51,Americas,PY_CL,CL,Chile,2024-07-01,Dunkin Donuts,25639,12
52,Americas,PY_CL,CL,Chile,2024-07-01,"Pedro, Juan y Diego",24337,13
53,Americas,PY_CL,CL,Chile,2024-07-01,Wendy's,23116,14
54,Americas,PY_CL,CL,Chile,2024-07-01,Pizza Hut,20879,15
55,Americas,PY_CL,CL,Chile,2024-07-01,Under Pizzas,20703,16
56,Americas,PY_CL,CL,Chile,2024-07-01,Doggis,18961,17
57,Americas,PY_CL,CL,Chile,2024-07-01,NIU,17440,18
58,Americas,PY_CL,CL,Chile,2024-07-01,Domino's Pizza,11203,19
59,Americas,PY_CL,CL,Chile,2024-07-01,Juan Maestro,11133,20

,region,global_entity_id,country_code,country_name,month,vendor,total_orders,rank
60,Americas,PY_CR,CR,Costa Rica,2024-07-01,McDonald's,29607,1
61,Americas,PY_CR,CR,Costa Rica,2024-07-01,KFC,21483,2
62,Americas,PY_CR,CR,Costa Rica,2024-07-01,Taco Bell,19438,3
63,Americas,PY_CR,CR,Costa Rica,2024-07-01,Pizza Hut,13911,4
64,Americas,PY_CR,CR,Costa Rica,2024-07-01,Papa John's,10798,5
65,Americas,PY_CR,CR,Costa Rica,2024-07-01,Burger King,9257,6
66,Americas,PY_CR,CR,Costa Rica,2024-07-01,Ready Pizza,7177,7
67,Americas,PY_CR,CR,Costa Rica,2024-07-01,Pollo Granjero,4636,8
68,Americas,PY_CR,CR,Costa Rica,2024-07-01,La Casona de Laly,4182,9
69,Americas,PY_CR,CR,Costa Rica,2024-07-01,Spoon,2459,10
70,Americas,PY_CR,CR,Costa Rica,2024-07-01,Quiznos,2175,11
71,Americas,PY_CR,CR,Costa Rica,2024-07-01,POPS,2001,12
72,Americas,PY_CR,CR,Costa Rica,2024-07-01,Krispy Kreme,1866,13
73,Americas,PY_CR,CR,Costa Rica,2024-07-01,SATAY,1260,14
74,Americas,PY_CR,CR,Costa Rica,2024-07-01,Tacos Max,1256,15
75,Americas,PY_CR,CR,Costa Rica,2024-07-01,Tico Burguesas,1151,16
76,Americas,PY_CR,CR,Costa Rica,2024-07-01,Little Caesar's,1118,17
77,Americas,PY_CR,CR,Costa Rica,2024-07-01,La Tortillería,1081,18
78,Americas,PY_CR,CR,Costa Rica,2024-07-01,Estación Dos Pinos,1013,19
79,Americas,PY_CR,CR,Costa Rica,2024-07-01,Mi Tica,914,20

,region,global_entity_id,country_code,country_name,month,vendor,total_orders,rank
80,Americas,PY_DO,DO,Dominican Republic,2024-07-01,Little Caesar's,80252,1
81,Americas,PY_DO,DO,Dominican Republic,2024-07-01,McDonald's,74085,2
82,Americas,PY_DO,DO,Dominican Republic,2024-07-01,Helados Bon,53884,3
83,Americas,PY_DO,DO,Dominican Republic,2024-07-01,KFC,38849,4
84,Americas,PY_DO,DO,Dominican Republic,2024-07-01,Burger King,28483,5
85,Americas,PY_DO,DO,Dominican Republic,2024-07-01,Wendy's,25490,6
86,Americas,PY_DO,DO,Dominican Republic,2024-07-01,Jade Teriyaki,24592,7
87,Americas,PY_DO,DO,Dominican Republic,2024-07-01,Taco Bell,20422,8
88,Americas,PY_DO,DO,Dominican Republic,2024-07-01,Barra Payán - Original,16747,9
89,Americas,PY_DO,DO,Dominican Republic,2024-07-01,Papa John's,14561,10
90,Americas,PY_DO,DO,Dominican Republic,2024-07-01,Pica Pollo Herrera,13280,11
91,Americas,PY_DO,DO,Dominican Republic,2024-07-01,Pollos Victorina,13071,12
92,Americas,PY_DO,DO,Dominican Republic,2024-07-01,Greenwl,12374,13
93,Americas,PY_DO,DO,Dominican Republic,2024-07-01,Pizza Hut,11797,14
94,Americas,PY_DO,DO,Dominican Republic,2024-07-01,Gilligan Burgers,9828,15
95,Americas,PY_DO,DO,Dominican Republic,2024-07-01,Rico Hot Dog,7611,16
96,Americas,PY_DO,DO,Dominican Republic,2024-07-01,Yogen Fruz,7530,17
97,Americas,PY_DO,DO,Dominican Republic,2024-07-01,Barra Junior Payán,7190,18
98,Americas,PY_DO,DO,Dominican Republic,2024-07-01,Yao,6718,19
99,Americas,PY_DO,DO,Dominican Republic,2024-07-01,D' Gavy Pechurina,6091,20

,region,global_entity_id,country_code,country_name,month,vendor,total_orders,rank
100,Americas,PY_EC,EC,Ecuador,2024-07-01,KFC,88697,1
101,Americas,PY_EC,EC,Ecuador,2024-07-01,McDonald's,64187,2
102,Americas,PY_EC,EC,Ecuador,2024-07-01,La Tablita del Tártaro,30415,3
103,Americas,PY_EC,EC,Ecuador,2024-07-01,Pollo Campero,27330,4
104,Americas,PY_EC,EC,Ecuador,2024-07-01,Mayflower,20363,5
105,Americas,PY_EC,EC,Ecuador,2024-07-01,Papa John's,18066,6
106,Americas,PY_EC,EC,Ecuador,2024-07-01,Sweet & Coffee,17645,7
107,Americas,PY_EC,EC,Ecuador,2024-07-01,Kobe,13851,8
108,Americas,PY_EC,EC,Ecuador,2024-07-01,Menestras del Negro,12372,9
109,Americas,PY_EC,EC,Ecuador,2024-07-01,Burger King,11689,10
110,Americas,PY_EC,EC,Ecuador,2024-07-01,Pizza Hut,10226,11
111,Americas,PY_EC,EC,Ecuador,2024-07-01,Tropiburger,9210,12
112,Americas,PY_EC,EC,Ecuador,2024-07-01,American Deli,7830,13
113,Americas,PY_EC,EC,Ecuador,2024-07-01,El Español,7298,14
114,Americas,PY_EC,EC,Ecuador,2024-07-01,Pollo Gus,7070,15
115,Americas,PY_EC,EC,Ecuador,2024-07-01,Naturissimo,6953,16
116,Americas,PY_EC,EC,Ecuador,2024-07-01,El Hornero,6922,17
117,Americas,PY_EC,EC,Ecuador,2024-07-01,Cajun,5865,18
118,Americas,PY_EC,EC,Ecuador,2024-07-01,NoFork,5240,19
119,Americas,PY_EC,EC,Ecuador,2024-07-01,Pollo Ejecutivo,5217,20

,region,global_entity_id,country_code,country_name,month,vendor,total_orders,rank
120,Americas,PY_SV,SV,El Salvador,2024-07-01,Pizza Hut,50319,1
121,Americas,PY_SV,SV,El Salvador,2024-07-01,Burger King,50125,2
122,Americas,PY_SV,SV,El Salvador,2024-07-01,Little Caesar's,39946,3
123,Americas,PY_SV,SV,El Salvador,2024-07-01,Subway,26509,4
124,Americas,PY_SV,SV,El Salvador,2024-07-01,McDonald's,20999,5
125,Americas,PY_SV,SV,El Salvador,2024-07-01,Wendy's,20102,6
126,Americas,PY_SV,SV,El Salvador,2024-07-01,Pollo Campero,16943,7
127,Americas,PY_SV,SV,El Salvador,2024-07-01,Buffalo Wings,16792,8
128,Americas,PY_SV,SV,El Salvador,2024-07-01,Domino's Pizza,16400,9
129,Americas,PY_SV,SV,El Salvador,2024-07-01,China Wok,15726,10
130,Americas,PY_SV,SV,El Salvador,2024-07-01,Pupuseria Suiza,13376,11
131,Americas,PY_SV,SV,El Salvador,2024-07-01,KFC,13265,12
132,Americas,PY_SV,SV,El Salvador,2024-07-01,Pollo Campestre,11992,13
133,Americas,PY_SV,SV,El Salvador,2024-07-01,Taco Bell,10141,14
134,Americas,PY_SV,SV,El Salvador,2024-07-01,Pizza Siciliana,9698,15
135,Americas,PY_SV,SV,El Salvador,2024-07-01,Panda Express,9576,16
136,Americas,PY_SV,SV,El Salvador,2024-07-01,Bobaluba,9222,17
137,Americas,PY_SV,SV,El Salvador,2024-07-01,Papa John's,9178,18
138,Americas,PY_SV,SV,El Salvador,2024-07-01,Go Green,8279,19
139,Americas,PY_SV,SV,El Salvador,2024-07-01,Don Pollo,7517,20

,region,global_entity_id,country_code,country_name,month,vendor,total_orders,rank
140,Americas,PY_GT,GT,Guatemala,2024-07-01,Little Caesar's,46724,1
141,Americas,PY_GT,GT,Guatemala,2024-07-01,Taco Bell,42456,2
142,Americas,PY_GT,GT,Guatemala,2024-07-01,Burger King,35847,3
143,Americas,PY_GT,GT,Guatemala,2024-07-01,McDonald's,35568,4
144,Americas,PY_GT,GT,Guatemala,2024-07-01,Pollo Campero,30486,5
145,Americas,PY_GT,GT,Guatemala,2024-07-01,San Martin,19176,6
146,Americas,PY_GT,GT,Guatemala,2024-07-01,Subway,19001,7
147,Americas,PY_GT,GT,Guatemala,2024-07-01,Panda Express,18548,8
148,Americas,PY_GT,GT,Guatemala,2024-07-01,Pizza Hut,16354,9
149,Americas,PY_GT,GT,Guatemala,2024-07-01,Wendy's,16336,10
150,Americas,PY_GT,GT,Guatemala,2024-07-01,Dobladas San Carlos,16139,11
151,Americas,PY_GT,GT,Guatemala,2024-07-01,Papa John's,15022,12
152,Americas,PY_GT,GT,Guatemala,2024-07-01,Starbucks,13941,13
153,Americas,PY_GT,GT,Guatemala,2024-07-01,Castor`s Pizza,11397,14
154,Americas,PY_GT,GT,Guatemala,2024-07-01,Los Gauchitos,11038,15
155,Americas,PY_GT,GT,Guatemala,2024-07-01,Hamburguesas del Puente,10265,16
156,Americas,PY_GT,GT,Guatemala,2024-07-01,Panadería Berna,10055,17
157,Americas,PY_GT,GT,Guatemala,2024-07-01,Pollo Granjero,9577,18
158,Americas,PY_GT,GT,Guatemala,2024-07-01,Pops,8734,19
159,Americas,PY_GT,GT,Guatemala,2024-07-01,Go Green,8733,20

,region,global_entity_id,country_code,country_name,month,vendor,total_orders,rank
160,Americas,PY_HN,HN,Honduras,2024-07-01,Little Caesar's,41448,1
161,Americas,PY_HN,HN,Honduras,2024-07-01,Wendy's,22665,2
162,Americas,PY_HN,HN,Honduras,2024-07-01,Coco Baleadas,21690,3
163,Americas,PY_HN,HN,Honduras,2024-07-01,Espresso Americano,21453,4
164,Americas,PY_HN,HN,Honduras,2024-07-01,Burger King,21213,5
165,Americas,PY_HN,HN,Honduras,2024-07-01,Popeyes,18554,6
166,Americas,PY_HN,HN,Honduras,2024-07-01,KFC,14081,7
167,Americas,PY_HN,HN,Honduras,2024-07-01,Pizza Hut,13582,8
168,Americas,PY_HN,HN,Honduras,2024-07-01,Dunkin' & Baskin,10843,9
169,Americas,PY_HN,HN,Honduras,2024-07-01,McDonald's,10407,10
170,Americas,PY_HN,HN,Honduras,2024-07-01,Papa John's,8400,11
171,Americas,PY_HN,HN,Honduras,2024-07-01,Power Chicken,7913,12
172,Americas,PY_HN,HN,Honduras,2024-07-01,Pollos el Hondureño,7362,13
173,Americas,PY_HN,HN,Honduras,2024-07-01,Bigos,6344,14
174,Americas,PY_HN,HN,Honduras,2024-07-01,Pollo Campesino,5662,15
175,Americas,PY_HN,HN,Honduras,2024-07-01,Matambritas,5588,16
176,Americas,PY_HN,HN,Honduras,2024-07-01,Church's Chicken,5193,17
177,Americas,PY_HN,HN,Honduras,2024-07-01,Taco Pollo,4789,18
178,Americas,PY_HN,HN,Honduras,2024-07-01,Subway,4064,19
179,Americas,PY_HN,HN,Honduras,2024-07-01,Pupusas Miraflores,4017,20

,region,global_entity_id,country_code,country_name,month,vendor,total_orders,rank
180,Americas,PY_NI,NI,Nicaragua,2024-07-01,Little Caesar's,44440,1
181,Americas,PY_NI,NI,Nicaragua,2024-07-01,McDonald's,19505,2
182,Americas,PY_NI,NI,Nicaragua,2024-07-01,Valenti's Pizza,14371,3
183,Americas,PY_NI,NI,Nicaragua,2024-07-01,Subway,14243,4
184,Americas,PY_NI,NI,Nicaragua,2024-07-01,Pollos Narcys,11164,5
185,Americas,PY_NI,NI,Nicaragua,2024-07-01,Ganbei,9886,6
186,Americas,PY_NI,NI,Nicaragua,2024-07-01,Leche Agria La Vaquera,7579,7
187,Americas,PY_NI,NI,Nicaragua,2024-07-01,Alasbuenas,7396,8
188,Americas,PY_NI,NI,Nicaragua,2024-07-01,Casa del Café,5928,9
189,Americas,PY_NI,NI,Nicaragua,2024-07-01,Ajua,5640,10
190,Americas,PY_NI,NI,Nicaragua,2024-07-01,Pizza Hut,5379,11
191,Americas,PY_NI,NI,Nicaragua,2024-07-01,Baho Vilma,5206,12
192,Americas,PY_NI,NI,Nicaragua,2024-07-01,Carne Asada Las Primas,4855,13
193,Americas,PY_NI,NI,Nicaragua,2024-07-01,El Chante,4596,14
194,Americas,PY_NI,NI,Nicaragua,2024-07-01,Asados Doña Tania,4347,15
195,Americas,PY_NI,NI,Nicaragua,2024-07-01,Mi Fritanguita,4307,16
196,Americas,PY_NI,NI,Nicaragua,2024-07-01,POPS,4170,17
197,Americas,PY_NI,NI,Nicaragua,2024-07-01,Burger King,4132,18
198,Americas,PY_NI,NI,Nicaragua,2024-07-01,Sopas Calixto,3666,19
199,Americas,PY_NI,NI,Nicaragua,2024-07-01,Buffalo Wings,3639,20

,region,global_entity_id,country_code,country_name,month,vendor,total_orders,rank
200,Americas,AP_PA,PA,Panama,2024-07-01,McDonald's,130534,1
201,Americas,AP_PA,PA,Panama,2024-07-01,KFC,59686,2
202,Americas,AP_PA,PA,Panama,2024-07-01,Pio Pio,51726,3
203,Americas,AP_PA,PA,Panama,2024-07-01,Papa John's,32116,4
204,Americas,AP_PA,PA,Panama,2024-07-01,Pizzeria Leonardo,27344,5
205,Americas,AP_PA,PA,Panama,2024-07-01,Burger King,25984,6
206,Americas,AP_PA,PA,Panama,2024-07-01,Popeyes,23760,7
207,Americas,AP_PA,PA,Panama,2024-07-01,Nación Sushi,23245,8
208,Americas,AP_PA,PA,Panama,2024-07-01,Domino's Pizza,22470,9
209,Americas,AP_PA,PA,Panama,2024-07-01,Subway,15185,10
210,Americas,AP_PA,PA,Panama,2024-07-01,Athen's,14024,11
211,Americas,AP_PA,PA,Panama,2024-07-01,Little Caesar's,12569,12
212,Americas,AP_PA,PA,Panama,2024-07-01,Taco Bell,12255,13
213,Americas,AP_PA,PA,Panama,2024-07-01,Onze,10094,14
214,Americas,AP_PA,PA,Panama,2024-07-01,Wendy's,9508,15
215,Americas,AP_PA,PA,Panama,2024-07-01,El Trapiche,9505,16
216,Americas,AP_PA,PA,Panama,2024-07-01,Ready Pizza,9461,17
217,Americas,AP_PA,PA,Panama,2024-07-01,Sushi Express,8208,18
218,Americas,AP_PA,PA,Panama,2024-07-01,Barrio Pizza,5545,19
219,Americas,AP_PA,PA,Panama,2024-07-01,Kotowa,5416,20

,region,global_entity_id,country_code,country_name,month,vendor,total_orders,rank
220,Americas,PY_PY,PY,Paraguay,2024-07-01,McDonald's,67658,1
221,Americas,PY_PY,PY,Paraguay,2024-07-01,Burger King,19825,2
222,Americas,PY_PY,PY,Paraguay,2024-07-01,Don Vito,18859,3
223,Americas,PY_PY,PY,Paraguay,2024-07-01,La Eustaquia,17848,4
224,Americas,PY_PY,PY,Paraguay,2024-07-01,Mostaza,11349,5
225,Americas,PY_PY,PY,Paraguay,2024-07-01,Pizza Hut,10357,6
226,Americas,PY_PY,PY,Paraguay,2024-07-01,Gods Pan,8659,7
227,Americas,PY_PY,PY,Paraguay,2024-07-01,Bacon Burgers,7307,8
228,Americas,PY_PY,PY,Paraguay,2024-07-01,Grido,7059,9
229,Americas,PY_PY,PY,Paraguay,2024-07-01,Pizzeria La Italiana,6543,10
230,Americas,PY_PY,PY,Paraguay,2024-07-01,Amandau,6298,11
231,Americas,PY_PY,PY,Paraguay,2024-07-01,Hanna Healthy Food,5578,12
232,Americas,PY_PY,PY,Paraguay,2024-07-01,Grupo Bahía,4810,13
233,Americas,PY_PY,PY,Paraguay,2024-07-01,Alberdín,4602,14
234,Americas,PY_PY,PY,Paraguay,2024-07-01,La Vienesa,4524,15
235,Americas,PY_PY,PY,Paraguay,2024-07-01,Tio Luque,4386,16
236,Americas,PY_PY,PY,Paraguay,2024-07-01,Lomilito's,4107,17
237,Americas,PY_PY,PY,Paraguay,2024-07-01,Quattro D,4057,18
238,Americas,PY_PY,PY,Paraguay,2024-07-01,Lomy,4010,19
239,Americas,PY_PY,PY,Paraguay,2024-07-01,Ultracai,3984,20

,region,global_entity_id,country_code,country_name,month,vendor,total_orders,rank
240,Americas,PY_PE,PE,Peru,2024-07-01,McDonald's,83143,1
241,Americas,PY_PE,PE,Peru,2024-07-01,Bembos,75599,2
242,Americas,PY_PE,PE,Peru,2024-07-01,Popeyes,70878,3
243,Americas,PY_PE,PE,Peru,2024-07-01,Papa John's,68328,4
244,Americas,PY_PE,PE,Peru,2024-07-01,KFC,53497,5
245,Americas,PY_PE,PE,Peru,2024-07-01,Chinawok,52907,6
246,Americas,PY_PE,PE,Peru,2024-07-01,Siete Sopas,29776,7
247,Americas,PY_PE,PE,Peru,2024-07-01,T.G.I Fridays,26152,8
248,Americas,PY_PE,PE,Peru,2024-07-01,Norkys,25682,9
249,Americas,PY_PE,PE,Peru,2024-07-01,La Lucha Saguchería Criolla,22628,10
250,Americas,PY_PE,PE,Peru,2024-07-01,Villa Chicken,20963,11
251,Americas,PY_PE,PE,Peru,2024-07-01,Pardos Chicken,19517,12
252,Americas,PY_PE,PE,Peru,2024-07-01,Dunkin Donuts,17194,13
253,Americas,PY_PE,PE,Peru,2024-07-01,Sanguchon Campesino,17067,14
254,Americas,PY_PE,PE,Peru,2024-07-01,Pizza Hut,16617,15
255,Americas,PY_PE,PE,Peru,2024-07-01,Yopo,16409,16
256,Americas,PY_PE,PE,Peru,2024-07-01,Otto Grill,16240,17
257,Americas,PY_PE,PE,Peru,2024-07-01,Little Caesar's,15743,18
258,Americas,PY_PE,PE,Peru,2024-07-01,Mariate,15111,19
259,Americas,PY_PE,PE,Peru,2024-07-01,Maria Almenara,15093,20

,region,global_entity_id,country_code,country_name,month,vendor,total_orders,rank
260,Americas,PY_UY,UY,Uruguay,2024-07-01,McDonald's,79479,1
261,Americas,PY_UY,UY,Uruguay,2024-07-01,Burger King,29700,2
262,Americas,PY_UY,UY,Uruguay,2024-07-01,Grido,19899,3
263,Americas,PY_UY,UY,Uruguay,2024-07-01,Mostaza,18277,4
264,Americas,PY_UY,UY,Uruguay,2024-07-01,Sbarro,10413,5
265,Americas,PY_UY,UY,Uruguay,2024-07-01,Subway,10016,6
266,Americas,PY_UY,UY,Uruguay,2024-07-01,D'la Ribera,9711,7
267,Americas,PY_UY,UY,Uruguay,2024-07-01,Rudy Burgers,9439,8
268,Americas,PY_UY,UY,Uruguay,2024-07-01,Alberto's,8656,9
269,Americas,PY_UY,UY,Uruguay,2024-07-01,Burger Time,8212,10
270,Americas,PY_UY,UY,Uruguay,2024-07-01,La Pasiva,7906,11
271,Americas,PY_UY,UY,Uruguay,2024-07-01,El Club de la Papa Frita,7473,12
272,Americas,PY_UY,UY,Uruguay,2024-07-01,Pizzería Rodelú,7255,13
273,Americas,PY_UY,UY,Uruguay,2024-07-01,Viva La Mila LATAM,7160,14
274,Americas,PY_UY,UY,Uruguay,2024-07-01,La Tortuguita,7077,15
275,Americas,PY_UY,UY,Uruguay,2024-07-01,Bar 18,6626,16
276,Americas,PY_UY,UY,Uruguay,2024-07-01,El Club De La Papa Frita,6420,17
277,Americas,PY_UY,UY,Uruguay,2024-07-01,Kona Poke & Bar,6100,18
278,Americas,PY_UY,UY,Uruguay,2024-07-01,Mimoso,6084,19
279,Americas,PY_UY,UY,Uruguay,2024-07-01,Domino's Pizza,5608,20

,region,global_entity_id,country_code,country_name,month,vendor,total_orders,rank
280,Americas,PY_VE,VE,Venezuela,2024-07-01,McDonald's,9273,1
281,Americas,PY_VE,VE,Venezuela,2024-07-01,Arturo's,6707,2
282,Americas,PY_VE,VE,Venezuela,2024-07-01,Bonsai Sushi,6003,3
283,Americas,PY_VE,VE,Venezuela,2024-07-01,Todo Carnes,5046,4
284,Americas,PY_VE,VE,Venezuela,2024-07-01,Pollos Riviera,4734,5
285,Americas,PY_VE,VE,Venezuela,2024-07-01,KFC,3803,6
286,Americas,PY_VE,VE,Venezuela,2024-07-01,Domino's Pizza,2813,7
287,Americas,PY_VE,VE,Venezuela,2024-07-01,Plan B,2713,8
288,Americas,PY_VE,VE,Venezuela,2024-07-01,Pastelería Danubio,2141,9
289,Americas,PY_VE,VE,Venezuela,2024-07-01,Don Brasas,2038,10
290,Americas,PY_VE,VE,Venezuela,2024-07-01,Pollos Mario By Pollos Riviera,1928,11
291,Americas,PY_VE,VE,Venezuela,2024-07-01,La Churreria,1570,12
292,Americas,PY_VE,VE,Venezuela,2024-07-01,Pollos Norma,1179,13
293,Americas,PY_VE,VE,Venezuela,2024-07-01,Pollo Graduado,1154,14
294,Americas,PY_VE,VE,Venezuela,2024-07-01,Real Past - Caracas,1052,15
295,Americas,PY_VE,VE,Venezuela,2024-07-01,Empanadas De Chacao,1024,16
296,Americas,PY_VE,VE,Venezuela,2024-07-01,La Tentación - Las Mercedes,1001,17
297,Americas,PY_VE,VE,Venezuela,2024-07-01,Burger King,911,18
298,Americas,PY_VE,VE,Venezuela,2024-07-01,Cachito,814,19
299,Americas,PY_VE,VE,Venezuela,2024-07-01,Chinote,768,20

,region,global_entity_id,country_code,country_name,month,vendor,total_orders,rank
660,MENA,TB_BH,BH,Bahrain,2024-07-01,Jasmi's,88080,1
661,MENA,TB_BH,BH,Bahrain,2024-07-01,McDonald's,82253,2
662,MENA,TB_BH,BH,Bahrain,2024-07-01,Healthy Calorie,61084,3
663,MENA,TB_BH,BH,Bahrain,2024-07-01,KFC,40837,4
664,MENA,TB_BH,BH,Bahrain,2024-07-01,Al Baik,33949,5
665,MENA,TB_BH,BH,Bahrain,2024-07-01,Mohammed Noor Bukhari,31130,6
666,MENA,TB_BH,BH,Bahrain,2024-07-01,Hardee's,26704,7
667,MENA,TB_BH,BH,Bahrain,2024-07-01,3 Lines,26598,8
668,MENA,TB_BH,BH,Bahrain,2024-07-01,Pizza Hut,21194,9
669,MENA,TB_BH,BH,Bahrain,2024-07-01,Wing Man,20895,10
670,MENA,TB_BH,BH,Bahrain,2024-07-01,Starbucks,18720,11
671,MENA,TB_BH,BH,Bahrain,2024-07-01,Chicket,17122,12
672,MENA,TB_BH,BH,Bahrain,2024-07-01,Papa Johns,16203,13
673,MENA,TB_BH,BH,Bahrain,2024-07-01,Tea Time,15796,14
674,MENA,TB_BH,BH,Bahrain,2024-07-01,Pasta Express,15706,15
675,MENA,TB_BH,BH,Bahrain,2024-07-01,Texas Chicken,14796,16
676,MENA,TB_BH,BH,Bahrain,2024-07-01,Burgerland,13929,17
677,MENA,TB_BH,BH,Bahrain,2024-07-01,Lofty Donuts Cafe,13300,18
678,MENA,TB_BH,BH,Bahrain,2024-07-01,Dairy Queen,13075,19
679,MENA,TB_BH,BH,Bahrain,2024-07-01,AlAbraaj,11385,20

,region,global_entity_id,country_code,country_name,month,vendor,total_orders,rank
680,MENA,HF_EG,EG,Egypt,2024-07-01,Bazooka,200101,1
681,MENA,HF_EG,EG,Egypt,2024-07-01,B.LABAN,124009,2
682,MENA,HF_EG,EG,Egypt,2024-07-01,KFC,112481,3
683,MENA,HF_EG,EG,Egypt,2024-07-01,Al Dahan,95437,4
684,MENA,HF_EG,EG,Egypt,2024-07-01,Pizza Hut,90818,5
685,MENA,HF_EG,EG,Egypt,2024-07-01,Cilantro,83879,6
686,MENA,HF_EG,EG,Egypt,2024-07-01,McDonald's,79926,7
687,MENA,HF_EG,EG,Egypt,2024-07-01,Sayed Hanafy,79363,8
688,MENA,HF_EG,EG,Egypt,2024-07-01,Buffalo Burger,78864,9
689,MENA,HF_EG,EG,Egypt,2024-07-01,Koshary El Tahrir,74923,10
690,MENA,HF_EG,EG,Egypt,2024-07-01,Starbucks,70065,11
691,MENA,HF_EG,EG,Egypt,2024-07-01,Hardee's,58631,12
692,MENA,HF_EG,EG,Egypt,2024-07-01,Papa John's Pizza,57989,13
693,MENA,HF_EG,EG,Egypt,2024-07-01,Gad,57655,14
694,MENA,HF_EG,EG,Egypt,2024-07-01,Remas Land,55256,15
695,MENA,HF_EG,EG,Egypt,2024-07-01,Anas Al Demeshky,47744,16
696,MENA,HF_EG,EG,Egypt,2024-07-01,Ibn Alsham,46275,17
697,MENA,HF_EG,EG,Egypt,2024-07-01,Burger King,45784,18
698,MENA,HF_EG,EG,Egypt,2024-07-01,Heart Attack,45619,19
699,MENA,HF_EG,EG,Egypt,2024-07-01,EL Makhbaz El Lebnany El Asly,43817,20

,region,global_entity_id,country_code,country_name,month,vendor,total_orders,rank
700,MENA,TB_IQ,IQ,Iraq,2024-07-01,Fried Chicken,57078,1
701,MENA,TB_IQ,IQ,Iraq,2024-07-01,Super Chicken,33684,2
702,MENA,TB_IQ,IQ,Iraq,2024-07-01,UK Pizza,28202,3
703,MENA,TB_IQ,IQ,Iraq,2024-07-01,Chicken Express,26834,4
704,MENA,TB_IQ,IQ,Iraq,2024-07-01,Falafel Lebanon,24906,5
705,MENA,TB_IQ,IQ,Iraq,2024-07-01,Saj Al Badee,23073,6
706,MENA,TB_IQ,IQ,Iraq,2024-07-01,KFC,21410,7
707,MENA,TB_IQ,IQ,Iraq,2024-07-01,Chili House W Lee`s W Pi Pizzeria,15942,8
708,MENA,TB_IQ,IQ,Iraq,2024-07-01,Shmesani,15560,9
709,MENA,TB_IQ,IQ,Iraq,2024-07-01,Ice Land,15301,10
710,MENA,TB_IQ,IQ,Iraq,2024-07-01,Saj Al Reef,15090,11
711,MENA,TB_IQ,IQ,Iraq,2024-07-01,Burger King,14904,12
712,MENA,TB_IQ,IQ,Iraq,2024-07-01,Al Jandol,13303,13
713,MENA,TB_IQ,IQ,Iraq,2024-07-01,Hardee's,12870,14
714,MENA,TB_IQ,IQ,Iraq,2024-07-01,B to B,12289,15
715,MENA,TB_IQ,IQ,Iraq,2024-07-01,Kass Alagha AlBaghdady,12041,16
716,MENA,TB_IQ,IQ,Iraq,2024-07-01,Makoulat Al Ibtisam,11653,17
717,MENA,TB_IQ,IQ,Iraq,2024-07-01,Torino pizza,10630,18
718,MENA,TB_IQ,IQ,Iraq,2024-07-01,Damasquino,10045,19
719,MENA,TB_IQ,IQ,Iraq,2024-07-01,Texas Chicken,9938,20

,region,global_entity_id,country_code,country_name,month,vendor,total_orders,rank
720,MENA,TB_JO,JO,Jordan,2024-07-01,Shawerma 3 Saj,71389,1
721,MENA,TB_JO,JO,Jordan,2024-07-01,Shawerma Al Reef,42287,2
722,MENA,TB_JO,JO,Jordan,2024-07-01,McDonald's,40533,3
723,MENA,TB_JO,JO,Jordan,2024-07-01,Al Dayaa,40494,4
724,MENA,TB_JO,JO,Jordan,2024-07-01,Qaysar Pizza,37308,5
725,MENA,TB_JO,JO,Jordan,2024-07-01,B LABAN,34521,6
726,MENA,TB_JO,JO,Jordan,2024-07-01,Planet Donuts,30402,7
727,MENA,TB_JO,JO,Jordan,2024-07-01,Hamada,28530,8
728,MENA,TB_JO,JO,Jordan,2024-07-01,Bee Snack,20512,9
729,MENA,TB_JO,JO,Jordan,2024-07-01,KFC,18342,10
730,MENA,TB_JO,JO,Jordan,2024-07-01,Burgerizz,17263,11
731,MENA,TB_JO,JO,Jordan,2024-07-01,Saj,16226,12
732,MENA,TB_JO,JO,Jordan,2024-07-01,Nafeeseh,15203,13
733,MENA,TB_JO,JO,Jordan,2024-07-01,Qahwa BLK,14004,14
734,MENA,TB_JO,JO,Jordan,2024-07-01,Khobze W Shawerma,13570,15
735,MENA,TB_JO,JO,Jordan,2024-07-01,Shawarmji,13293,16
736,MENA,TB_JO,JO,Jordan,2024-07-01,Burger Makers,12631,17
737,MENA,TB_JO,JO,Jordan,2024-07-01,Tamiaa,12548,18
738,MENA,TB_JO,JO,Jordan,2024-07-01,Alia Central Restaurant,12489,19
739,MENA,TB_JO,JO,Jordan,2024-07-01,Al Nejmah Sweets,12317,20

,region,global_entity_id,country_code,country_name,month,vendor,total_orders,rank
740,MENA,TB_KW,KW,Kuwait,2024-07-01,McDonald's,545786,1
741,MENA,TB_KW,KW,Kuwait,2024-07-01,KFC,285614,2
742,MENA,TB_KW,KW,Kuwait,2024-07-01,Hardee's,198960,3
743,MENA,TB_KW,KW,Kuwait,2024-07-01,Burger King,183233,4
744,MENA,TB_KW,KW,Kuwait,2024-07-01,Pizza hut,180210,5
745,MENA,TB_KW,KW,Kuwait,2024-07-01,The Coffee Bean & Tea Leaf,139018,6
746,MENA,TB_KW,KW,Kuwait,2024-07-01,Starbucks,132463,7
747,MENA,TB_KW,KW,Kuwait,2024-07-01,Naif Chicken Restaurant,107737,8
748,MENA,TB_KW,KW,Kuwait,2024-07-01,Ananas,90386,9
749,MENA,TB_KW,KW,Kuwait,2024-07-01,Subway,84994,10
750,MENA,TB_KW,KW,Kuwait,2024-07-01,Shrimpy,82759,11
751,MENA,TB_KW,KW,Kuwait,2024-07-01,Caribou Coffee,76015,12
752,MENA,TB_KW,KW,Kuwait,2024-07-01,Domino's Pizza,75256,13
753,MENA,TB_KW,KW,Kuwait,2024-07-01,Mishmash,66628,14
754,MENA,TB_KW,KW,Kuwait,2024-07-01,Raising Cane's,64579,15
755,MENA,TB_KW,KW,Kuwait,2024-07-01,Fatayer Ala Al Tayer,55371,16
756,MENA,TB_KW,KW,Kuwait,2024-07-01,Baskin Robbins,54812,17
757,MENA,TB_KW,KW,Kuwait,2024-07-01,Khokh We Meshmesh,49513,18
758,MENA,TB_KW,KW,Kuwait,2024-07-01,Pick,48535,19
759,MENA,TB_KW,KW,Kuwait,2024-07-01,Caesars Confectionery,47493,20

,region,global_entity_id,country_code,country_name,month,vendor,total_orders,rank
760,MENA,TB_OM,OM,Oman,2024-07-01,KFC,60701,1
761,MENA,TB_OM,OM,Oman,2024-07-01,McDonald's,42588,2
762,MENA,TB_OM,OM,Oman,2024-07-01,Tea Time,39130,3
763,MENA,TB_OM,OM,Oman,2024-07-01,ChicKing,26846,4
764,MENA,TB_OM,OM,Oman,2024-07-01,Kucu,25778,5
765,MENA,TB_OM,OM,Oman,2024-07-01,RFC,20600,6
766,MENA,TB_OM,OM,Oman,2024-07-01,Boom Burger & Sweets,18462,7
767,MENA,TB_OM,OM,Oman,2024-07-01,My Berry,18328,8
768,MENA,TB_OM,OM,Oman,2024-07-01,Papa Johns,17671,9
769,MENA,TB_OM,OM,Oman,2024-07-01,Mango Talaat,15435,10
770,MENA,TB_OM,OM,Oman,2024-07-01,Burger Garage,15380,11
771,MENA,TB_OM,OM,Oman,2024-07-01,Italian Barista Cafe,15228,12
772,MENA,TB_OM,OM,Oman,2024-07-01,Golden Crispy,14727,13
773,MENA,TB_OM,OM,Oman,2024-07-01,Domino's Pizza,13648,14
774,MENA,TB_OM,OM,Oman,2024-07-01,Hardee's,13499,15
775,MENA,TB_OM,OM,Oman,2024-07-01,Mini Donut,13094,16
776,MENA,TB_OM,OM,Oman,2024-07-01,Pizza Hut,12388,17
777,MENA,TB_OM,OM,Oman,2024-07-01,Al Mahashi Time,12002,18
778,MENA,TB_OM,OM,Oman,2024-07-01,Cake Creations,11001,19
779,MENA,TB_OM,OM,Oman,2024-07-01,Burger King,10564,20

,region,global_entity_id,country_code,country_name,month,vendor,total_orders,rank
780,MENA,TB_QA,QA,Qatar,2024-07-01,McDonald's,188874,1
781,MENA,TB_QA,QA,Qatar,2024-07-01,KFC,87171,2
782,MENA,TB_QA,QA,Qatar,2024-07-01,Tea Time,57265,3
783,MENA,TB_QA,QA,Qatar,2024-07-01,Papa John's,57083,4
784,MENA,TB_QA,QA,Qatar,2024-07-01,Jollibee,39152,5
785,MENA,TB_QA,QA,Qatar,2024-07-01,Karak Mqanes,32867,6
786,MENA,TB_QA,QA,Qatar,2024-07-01,Go Crispy Restaurant,31231,7
787,MENA,TB_QA,QA,Qatar,2024-07-01,Hardee's,24890,8
788,MENA,TB_QA,QA,Qatar,2024-07-01,Starbucks,22838,9
789,MENA,TB_QA,QA,Qatar,2024-07-01,Pizza Hut,21259,10
790,MENA,TB_QA,QA,Qatar,2024-07-01,Burger King,21232,11
791,MENA,TB_QA,QA,Qatar,2024-07-01,Diet House,21031,12
792,MENA,TB_QA,QA,Qatar,2024-07-01,Afghan Brothers,20797,13
793,MENA,TB_QA,QA,Qatar,2024-07-01,Junior's,17967,14
794,MENA,TB_QA,QA,Qatar,2024-07-01,Baskin Robbins,17785,15
795,MENA,TB_QA,QA,Qatar,2024-07-01,Texas Chicken,15053,16
796,MENA,TB_QA,QA,Qatar,2024-07-01,Zaatar W Zeit,14284,17
797,MENA,TB_QA,QA,Qatar,2024-07-01,Al Mandarin,13533,18
798,MENA,TB_QA,QA,Qatar,2024-07-01,Subway,13414,19
799,MENA,TB_QA,QA,Qatar,2024-07-01,Shake Shack,12614,20

,region,global_entity_id,country_code,country_name,month,vendor,total_orders,rank
800,MENA,HS_SA,SA,Saudi Arabia,2024-07-01,McDonald's KSA,346731,1
801,MENA,HS_SA,SA,Saudi Arabia,2024-07-01,Al Baik,344994,2
802,MENA,HS_SA,SA,Saudi Arabia,2024-07-01,KFC,271828,3
803,MENA,HS_SA,SA,Saudi Arabia,2024-07-01,Shawarma House,267074,4
804,MENA,HS_SA,SA,Saudi Arabia,2024-07-01,Dunkin Donuts,214061,5
805,MENA,HS_SA,SA,Saudi Arabia,2024-07-01,McDonald's,212299,6
806,MENA,HS_SA,SA,Saudi Arabia,2024-07-01,Shawarmer,181187,7
807,MENA,HS_SA,SA,Saudi Arabia,2024-07-01,Kudu,159247,8
808,MENA,HS_SA,SA,Saudi Arabia,2024-07-01,Herfy,155587,9
809,MENA,HS_SA,SA,Saudi Arabia,2024-07-01,DEEP FRIES,126207,10
810,MENA,HS_SA,SA,Saudi Arabia,2024-07-01,Shawayet Alkhaleej,119459,11
811,MENA,HS_SA,SA,Saudi Arabia,2024-07-01,Starbucks®,118464,12
812,MENA,HS_SA,SA,Saudi Arabia,2024-07-01,Al Romansiah,111089,13
813,MENA,HS_SA,SA,Saudi Arabia,2024-07-01,Hardee's,100138,14
814,MENA,HS_SA,SA,Saudi Arabia,2024-07-01,Lorenzo Pizza,93353,15
815,MENA,HS_SA,SA,Saudi Arabia,2024-07-01,Al Tazaj,92792,16
816,MENA,HS_SA,SA,Saudi Arabia,2024-07-01,Burger King,92274,17
817,MENA,HS_SA,SA,Saudi Arabia,2024-07-01,La Casa Pasta,82242,18
818,MENA,HS_SA,SA,Saudi Arabia,2024-07-01,Domino's Pizza,79711,19
819,MENA,HS_SA,SA,Saudi Arabia,2024-07-01,Subway,72687,20

,region,global_entity_id,country_code,country_name,month,vendor,total_orders,rank
820,MENA,YS_TR,TR,Turkey,2024-07-01,Burger King,656911,1
821,MENA,YS_TR,TR,Turkey,2024-07-01,Komagene Etsiz Çiğ Köfte,471177,2
822,MENA,YS_TR,TR,Turkey,2024-07-01,Domino's Pizza,351590,3
823,MENA,YS_TR,TR,Turkey,2024-07-01,McDonald's,323962,4
824,MENA,YS_TR,TR,Turkey,2024-07-01,Popeyes,282898,5
825,MENA,YS_TR,TR,Turkey,2024-07-01,Maydonoz Döner,265135,6
826,MENA,YS_TR,TR,Turkey,2024-07-01,Starbucks Coffee,240082,7
827,MENA,YS_TR,TR,Turkey,2024-07-01,Öncü Döner,177867,8
828,MENA,YS_TR,TR,Turkey,2024-07-01,KFC,173831,9
829,MENA,YS_TR,TR,Turkey,2024-07-01,Köfteci Yusuf,152255,10
830,MENA,YS_TR,TR,Turkey,2024-07-01,Tavuk Dünyası,91642,11
831,MENA,YS_TR,TR,Turkey,2024-07-01,Pizza Bulls,84899,12
832,MENA,YS_TR,TR,Turkey,2024-07-01,Pizza Hut,80270,13
833,MENA,YS_TR,TR,Turkey,2024-07-01,Little Caesars Pizza,77268,14
834,MENA,YS_TR,TR,Turkey,2024-07-01,Pidem,70066,15
835,MENA,YS_TR,TR,Turkey,2024-07-01,Pasaport Pizza,55576,16
836,MENA,YS_TR,TR,Turkey,2024-07-01,Oses Çiğ Köfte,49108,17
837,MENA,YS_TR,TR,Turkey,2024-07-01,Cajun Corner,48387,18
838,MENA,YS_TR,TR,Turkey,2024-07-01,Terra Pizza - Pizza Pizza,48289,19
839,MENA,YS_TR,TR,Turkey,2024-07-01,Donas,45178,20

,region,global_entity_id,country_code,country_name,month,vendor,total_orders,rank
840,MENA,TB_AE,AE,United Arab Emirates,2024-07-01,McDonald's,682723,1
841,MENA,TB_AE,AE,United Arab Emirates,2024-07-01,KFC,364962,2
842,MENA,TB_AE,AE,United Arab Emirates,2024-07-01,Pizza Hut,204924,3
843,MENA,TB_AE,AE,United Arab Emirates,2024-07-01,Hardee's,171261,4
844,MENA,TB_AE,AE,United Arab Emirates,2024-07-01,Starbucks,168911,5
845,MENA,TB_AE,AE,United Arab Emirates,2024-07-01,ALBAIK,158084,6
846,MENA,TB_AE,AE,United Arab Emirates,2024-07-01,Burger King,157422,7
847,MENA,TB_AE,AE,United Arab Emirates,2024-07-01,Subway,95772,8
848,MENA,TB_AE,AE,United Arab Emirates,2024-07-01,Baskin Robbins,80090,9
849,MENA,TB_AE,AE,United Arab Emirates,2024-07-01,Texas Chicken,79952,10
850,MENA,TB_AE,AE,United Arab Emirates,2024-07-01,Papa Johns Pizza,78583,11
851,MENA,TB_AE,AE,United Arab Emirates,2024-07-01,Zaatar W Zeit,76515,12
852,MENA,TB_AE,AE,United Arab Emirates,2024-07-01,Jollibee,69126,13
853,MENA,TB_AE,AE,United Arab Emirates,2024-07-01,Aseer Time,59756,14
854,MENA,TB_AE,AE,United Arab Emirates,2024-07-01,Low Calories,53947,15
855,MENA,TB_AE,AE,United Arab Emirates,2024-07-01,WingStop,53231,16
856,MENA,TB_AE,AE,United Arab Emirates,2024-07-01,Dunkin,51273,17
857,MENA,TB_AE,AE,United Arab Emirates,2024-07-01,Gazebo,45176,18
858,MENA,TB_AE,AE,United Arab Emirates,2024-07-01,Operation Falafel,44392,19
859,MENA,TB_AE,AE,United Arab Emirates,2024-07-01,Gulf Pastry,44253,20